@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";

.TransactionHeader {
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  .BackLink {
    font-size: $FontSize500;
    color: $WhiteColor;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 3px;
    padding: 5px 8px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    transition: 0.1s;

    &:hover {
      background-color: transparentize($BlackColor, 0.8);
      border: 1px solid $BorderColor;
    }
  }
}

.TransactionHeaderCard {
  .HashInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .CallerInfo {
    display: flex;
    align-items: flex-end;

    .CallerLabel {
      margin-bottom: 5px;
    }

    .DirectionIconWrapper {
      margin: 0 15px;
      opacity: 0.75;
    }
  }
}
