@import "../../Common/Styles/global";

.TransactionPageContent {
  .TraceAndSidebarWrapper {
    display: flex;
    align-items: flex-start;

    .TransactionExecution {
      flex: 1 1 0;
    }

    .TransactionInfoSidebar {
      margin-left: $Spacing6;
      flex: 0 0 250px;
    }
  }
}
