@import "../../Common/common";

.AragonIntegration {
  max-width: 500px;
  margin: $Spacing8 auto;
}

.AragonIntegration__Companies {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: $Spacing8;
}

.AragonIntegration__Companies__SyncIcon {
  margin: 0 $Spacing4;
  font-size: $FontSize700;
  opacity: 0.5;
}

.AragonIntegration__Divider {
  border: none;
  border-top: 1px solid $Slate300;
  margin: $Spacing4 0;
}

.AragonIntegration__Contracts__Item {
  display: flex;
  align-items: center;
  margin-bottom: $Spacing4;
}

.AragonIntegration__Contracts__Item__Info {
  margin-left: $Spacing3;
}

.AragonIntegration__Contracts__Item__Name {
  font-size: $FontSize400;
  font-weight: 800;
  margin-bottom: 4px;
}

.AragonIntegration__Contracts__Item__Address {
  color: $LinkColor;
  font-family: $MonospaceFontFamily;
}

.AragonIntegration__Contracts__Item__Icon {
  position: relative;
  width: 40px;
  height: 40px;
}

.AragonIntegration__Contracts__Item__Icon__InProgress {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparentize($BlackColor, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  font-size: $FontSize500;

  &--success {
    background-color: transparentize($Primary500, 0.15);
  }
  &--failed {
    background-color: transparentize($Danger500, 0.15);
  }
}
