@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";

@keyframes AlertPopUpAnimation {
  0%{
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

.Alert {
  padding: 12px 15px;
  border: 1px solid transparentize($WhiteColor, 0.5);
  border-radius: 5px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.Alert--Info {
  background-color: transparentize($Primary500, 0.92);
  border: 1px solid transparentize($Primary500, 0.5);
}

.Alert--Warning {
  background-color: transparentize($YellowColor600, 0.8);
  border: 1px solid transparentize($YellowColor600, 0.3);
}

.Alert--Danger {
  background-color: transparentize($Danger500, 0.9);
  border: 1px solid transparentize($Danger500, 0.1);
}

.Alert--Animated {
  animation: 0.3s AlertPopUpAnimation cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
