@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";

.RecentArticles {
  .ArticlesHeading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .ArticlesList {}

  .ArticleItem {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    align-items: center;

    .ArticlePreviewWrapper {
      margin-right: 20px;
    }

    .ArticleImage {
      border: 1px solid $BorderColor;
      border-radius: 3px;
      width: 100px;
      height: 70px;
    }

    .ArticleInfo {
      color: $WhiteColor;
    }

    .ArticleTitle {
      font-size: $FontSize300;
      font-weight: 400;
    }

    &:hover {
      background-color: transparentize($BlackColor, 0.8);
    }
  }
}
