@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";
@import "../../Common/Styles/global";
@import "../../Common/Styles/mixins";

.ProjectPicker {
  display: flex;
  align-items: center;
  position: relative;

  .ProjectName, .ProjectSlug {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .CurrentProject {
    cursor: pointer;
    transition: 0.1s;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 260px;
    padding: $Spacing2 $Spacing5;
    border-radius: 3px;
    overflow: hidden;

    .ProjectInfo {
      flex: 1 1 0;
      display: flex;
      align-items: center;
      overflow: hidden;
      height: 36px;
    }
    .ProjectInfo__General {
      flex: 1 1 0;
      overflow: hidden;
    }
    .ProjectIcon {
      @include Gradient('red-purple');
      background-clip: text;
      color: transparent;
      margin-right: $Spacing3;
      font-size: $FontSize600;

      &--NoColor {
        background: none;
        background-clip: initial;
        color: $WhiteColor;
        font-size: $FontSize400;
        margin-right: $Spacing1;
      }
    }
    .ProjectName {
      font-size: $FontSize300;
    }
    .ProjectSlug {
      color: transparentize($WhiteColor, 0.5);
      font-size: $FontSize200;
    }
    .DropdownIcon {
      flex: 0 0 10px;
      margin-left: 10px;
      opacity: 0.6;
      font-size: $FontSize600;
    }

    &:hover {
      background-color: transparentize($BlackColor, 0.8);
    }
  }

  .ProjectsDropdown {
    position: absolute;
    top: 100%;
    background-color: $Slate300;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 260px;
    padding: $Spacing2 0;
    box-shadow: 1px 1px 6px 0 transparentize($BlackColor, 0.5);
    z-index: 99999;

    .LoaderWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100px;
    }

    .ProjectDropdownDivider {
      border-top: 1px solid transparentize($WhiteColor, 0.75);
      margin: $Spacing2 0;
    }

    .ProjectDropdownItem {
      cursor: pointer;
      padding: 6px 12px;
      display: flex;
      align-items: center;
      color: $WhiteColor;

      &:not(:last-child) {
        margin-bottom: 5px;
      }

      .ProjectIcon {
        margin-right: 10px;
      }
      .ProjectName {
        font-size: $FontSize300;
        font-weight: 600;
      }
      .ProjectSlug {
        font-weight: 100;
        font-size: $FontSize200;
      }

      &:hover {
        background-color: transparentize($BlackColor, 0.8);
      }

      &--Active {
        background-color: transparentize($Primary500, 0.7) !important;
        cursor: default;
      }
    }

    .ProjectDropdownItem__General {
      flex: 1 1 0;
      overflow: hidden;
    }
  }
}
