@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";

.ContractInformation {
  .ContractDetails {
    display: flex;

    .DetailsWrapper {
      flex: 0 0 auto;

      &:not(:last-child) {
        margin-right: 20px;
        padding-right: 20px;
        border-right: 1px solid $BorderColor;
      }

      .DetailLabel {
        text-transform: uppercase;
        opacity: 0.5;
        margin-bottom: 2px;
        font-size: $FontSize100;
      }
    }
  }
}
