@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

.SetupProjectDialog {
  $SetupProjectDialogHeight: 320px;
  .DialogStepsWrapper {
    position: relative;
    height: $SetupProjectDialogHeight;
    overflow: hidden;
  }

  .DialogStepWrapper {
    position: absolute;
    width: 100%;
    transition: 0.4s;

    .StepContent {
      margin-bottom: 20px;
      height: $SetupProjectDialogHeight - 60px;

      p {
        margin-top: 0;
        margin-bottom: 25px;
        opacity: 0.9;
      }

      code {
        margin-bottom: 25px;
        padding: 12px 15px;
        border: 1px solid $BorderColor;
        font-family: $MonospaceFontFamily;
        background-color: transparentize($WhiteColor, 0.98);
        font-size: $FontSize100;
        width: 100%;
        //color: $SecondaryColor600;
        display: block;
        border-radius: 3px;
      }

      .ActionMessage {
        padding: 12px 15px;
        border: 1px solid transparentize($WhiteColor, 0.5);
        border-radius: 5px;

        &.Success {
          background-color: transparentize($SecondaryColor600, 0.92);
          border: 1px solid transparentize($SecondaryColor600, 0.5);
        }

        &.Warning {
          background-color: transparentize($YellowColor600, 0.92);
          border: 1px solid transparentize($YellowColor600, 0.5);
        }
      }
    }

    .StepActions {
      display: flex;
      justify-content: flex-end;

      .VerifyIcon {
        transform-origin: center;
        opacity: 0.6;
        margin-right: 6px;
        animation: 1.5s infinite pulse;
      }
    }

    &.Previous {
      left: -100%;
      opacity: 0;
    }
    &.Active {
      left: 0;
    }
    &.Next {
      left: 100%;
      opacity: 0;
    }
  }
  .DialogStepProgress {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .DialogStepProgressItem {
    $DialogStepProgressItemSize: 10px;

    background-color: transparentize($WhiteColor, 0.5);
    transition: 0.3s;
    width: $DialogStepProgressItemSize;
    height: $DialogStepProgressItemSize;
    border-radius: $DialogStepProgressItemSize / 2;

    &:not(:last-child) {
      margin-right: 8px;
    }

    &.Active {
      background-color: #00cebb;
      width: 3 * $DialogStepProgressItemSize;
    }
  }
}
