@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

.SetupProjectDialog {
  $SetupProjectDialogHeight: 360px;
  .DialogStepsWrapper {
    position: relative;
    height: $SetupProjectDialogHeight;
    overflow: hidden;
  }

  .DialogStepWrapper {
    position: absolute;
    width: 100%;
    transition: 0.4s;
    left: 100%;
    opacity: 0;

    .StepContent {
      margin-bottom: 20px;
      height: $SetupProjectDialogHeight - 65px;
      overflow-y: auto;

      p {
        margin-top: 0;
        margin-bottom: 25px;
        opacity: 0.9;

        &:last-child {
          margin-bottom: 0;
        }
      }

      code {
        margin-bottom: 25px;
        padding: 12px 15px;
        border: 1px solid $BorderColor;
        font-family: $MonospaceFontFamily;
        background-color: transparentize($WhiteColor, 0.98);
        font-size: $FontSize100;
        width: 100%;
        //color: $SecondaryColor600;
        display: block;
        border-radius: 3px;
      }

      .ActionMessage {
        padding: 12px 15px;
        border: 1px solid transparentize($WhiteColor, 0.5);
        border-radius: 5px;

        &.Success {
          background-color: transparentize($SecondaryColor600, 0.92);
          border: 1px solid transparentize($SecondaryColor600, 0.5);
        }

        &.Warning {
          background-color: transparentize($YellowColor600, 0.92);
          border: 1px solid transparentize($YellowColor600, 0.5);
        }
      }
    }

    .StepActions {
      display: flex;
      justify-content: flex-end;

      .VerifyIcon {
        transform-origin: center;
        opacity: 0.6;
        animation: 1.5s infinite pulse;
      }
    }

    &.Previous {
      left: -100%;
      opacity: 0;
    }
    &.Active {
      left: 0;
      opacity: 1;
    }
    &.Next {
      left: 100%;
      opacity: 0;
    }
  }
  .DialogStepProgress {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .DialogStepProgressItem {
    $DialogStepProgressItemSize: 10px;

    background-color: transparentize($WhiteColor, 0.5);
    transition: 0.3s;
    width: $DialogStepProgressItemSize;
    height: $DialogStepProgressItemSize;
    border-radius: $DialogStepProgressItemSize / 2;

    &:not(:last-child) {
      margin-right: 8px;
    }

    &.Active {
      background-color: $SecondaryColor600;
      width: 3 * $DialogStepProgressItemSize;
    }
  }

  .ProjectSetupPickerWrapper {
    display: flex;
    padding: 5px;

    .ProjectSetupItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid $BorderColor;
      padding: 30px 10px;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.2s;

      &:not(:last-child) {
        margin-right: 30px;
      }

      .IconWrapper {
        font-size: $FontSize600 * 1.5;
        color: transparentize($WhiteColor, 0.5);
        margin-bottom: 20px;
        transition: 0.2s;
      }

      .SetupTypeName {
        font-weight: 500;
        margin-bottom: 10px;
        font-size: $FontSize400;
      }
      .SetupTypeDescription {
        font-weight: 100;
        font-size: $FontSize200;
        text-align: center;
        letter-spacing: 1.2px;
      }

      &:hover {
        box-shadow: 0 0 5px 1px transparentize($SecondaryColor600, 0.5);
        border-color: $SecondaryColor600;

        .IconWrapper {
          color: $WhiteColor;
        }
      }
    }
  }

  .ManualContractForm {
    .ContractNetworkPicker {
      margin-bottom: 20px;
    }
  }

  .AddingContractLoader {
    .AddingContractStepsWrapper {
      border: 1px solid $BorderColor;
      border-radius: 5px;
      background-color: transparentize($BlackColor, 0.8);

      .AddingContractStep {
        display: flex;
        align-items: center;
        opacity: 0.5;
        transition: 0.2s ease-in;
        padding: 12px 15px;
        position: relative;

        .StepIcon {
          background-color: transparentize($BlackColor, 0.7);
          width: 30px;
          height: 30px;
          font-size: $FontSize100;
          transition: 0.2s ease-in;
          border: 1px solid transparent;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 3px;
          margin-right: 10px;
        }

        &:not(:last-child) {
          border-bottom: 1px solid $BorderColor;
        }

        .StepLabel {
          flex: 1 1 0;
        }

        .StepProgress {
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .SimpleLoader {
          transform: scale(0.8);
        }

        &.Success, &.Error, &.InProgress {
          opacity: 1;
        }

        &.InProgress {
          .StepIcon {
            border: 1px solid transparentize($SecondaryColor600, 0.25);
            color: $WhiteColor;
          }
        }

        &.Success {
          .StepIcon {
            background-color: transparentize($SecondaryColor600, 0.25);
            color: $WhiteColor;
          }
        }

        &.Error {
          .StepIcon {
            background-color: transparentize($RedColor600, 0.4);
            color: $WhiteColor;
          }
        }
      }
    }
  }
}
