@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";

.SessionHeaderMenu {
  .UserProfileMenu {
    min-width: 200px;
    position: relative;

    .ProfileInfo {
      display: flex;
      align-items: center;
      height: 59px;
      padding: 0 15px;
      cursor: pointer;
      max-width: 230px;

      .UserAvatar {
        border-radius: 5px;
        margin-right: 10px;
      }

      .UserInfo {
        overflow: hidden;
      }

      .UserFullName {
        font-weight: 700;
        font-size: $FontSize300;
        margin-bottom: 2px;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .UserEmail {
        opacity: 0.8;
        font-size: $FontSize200;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      &:hover {
        background-color: rgba(0,0,0,0.2);
      }
    }

    .ProfileDropdown {
      position: absolute;
      top: 59px;
      display: none;
      background-color: $Slate300;
      width: 100%;
      padding: 10px 0;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      z-index: 1000;

      .DropdownItem {
        padding: 8px 15px;
        width: 100%;
        display: block;
        cursor: pointer;
        color: $WhiteColor;
        margin-bottom: 4px;

        &:hover {
          //color: $Primary500;
          background-color: rgba(0,0,0,0.2);
        }
      }
    }

    &.OpenDropdown {
      .ProfileInfo {
        background-color: $Slate300;
        box-shadow: 2px 2px 5px 0 transparentize($BlackColor, 0.75);
      }

      .ProfileDropdown {
        display: block;
        box-shadow: 2px 2px 5px 0 transparentize($BlackColor, 0.75);
      }
    }
  }
}
