@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";

.PublicContractList {
  border: 1px solid $BorderColor;
  border-radius: 4px;

  .ListHeader {
    background-color: transparentize($BlackColor, 0.8);
    border-bottom: 1px solid $BorderColor;
    padding: 12px 15px;

    .HeaderItemTitle {
      font-weight: 600;
      font-size: $FontSize200;
      opacity: 0.9;
    }
  }

  .ListHeader, .PublicContractListItem {
    display: flex;
    align-items: center;

    .ItemColumn {
      padding: 0 5px;
    }

    .VerificationColumn {
      flex: 0 0 30px;
    }

    .MainInfoColumn {
      flex: 1 1 0;
    }

    .TimestampColumn {
      flex: 0 0 120px;
    }

    .EventsColumn {
      flex: 0 0 120px;
    }

    .AddressColumn {
      flex: 0 0 340px;
    }
  }

  .PublicContractListItem {
    padding: 15px 15px;
    color: $WhiteColor;
    cursor: pointer;
    transition: 0.15s;
    flex: 0 0 450px;
    background: transparentize($WhiteColor, 0.97);

    .VerificationColumn {
      text-align: center;

      .VerifiedContractIcon {
        color: $SecondaryColor600;
      }
    }

    .AddressColumn {
      font-size: $FontSize100;

      .Address {
        color: $SecondaryColor600;
        font-family: $MonospaceFontFamily;
      }
    }

    .TimestampColumn, .EventsColumn {
      .InfoValue {
        opacity: 0.9;
        font-size: $FontSize200;
      }
    }

    &:not(:last-child) {
      border-bottom: 1px solid $BorderColor;
    }

    &:nth-child(2n) {
      background: transparentize($WhiteColor, 0.98);
    }

    &:hover {
      background-color: transparentize($BlackColor, 0.8);
    }
  }
}

