@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";

.PublicContractList {
  display: flex;
  flex-wrap: wrap;

  .PublicContractListItem {
    padding: 15px 20px;
    color: $WhiteColor;
    border: 1px solid $BorderColor;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.15s;
    display: flex;
    flex-direction: column;
    flex: 0 0 450px;

    .MainInfo {
      margin-bottom: 12px;
    }

    .EventInfo {
      margin-bottom: 15px;
      display: flex;

      .EventInfoItem {
        font-size: $FontSize100 * 0.8;

        .InfoLabel {
          text-transform: uppercase;
          margin-bottom: 6px;
        }

        .InfoValue {
          border-radius: 3px;
          border: 1px solid transparentize($WhiteColor, 0.75);
          padding: 3px 5px;
          display: inline-block;
        }

        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }

    .AddressInfo {
      font-size: $FontSize100;

      .InfoLabel {
        color: transparentize($WhiteColor, 0.1);
        text-transform: uppercase;
        margin-bottom: 5px;
      }

      .Address {
        color: $SecondaryColor600;
        font-family: $MonospaceFontFamily;
      }
    }

    &:hover {
      background-color: transparentize($BlackColor, 0.8);
    }
  }
}

