@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";

.RegisterPasswordForm {
  .MainFormWrapper {
    display: flex;

    .InputsWrapper {
      flex: 1 1 0;
      height: 150px;
    }

    .ScoreWrapper {
      flex: 0 0 auto;
      margin-left: 50px;
      margin-right: 50px;
    }
  }

  .CrackInfoWrapper {
    margin-top: 10px;
    padding-left: 10px;

    .CrackInfo {
      color: transparentize($WhiteColor, 0.5);
      font-size: $FontSize200;
    }

    .CrackTimeInfo {
      color: $WhiteColor;
      margin-left: 5px;
      font-weight: 600;
    }
  }
}
