@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";

.Code {
  width: 100%;
  word-break: break-all;
  font-size: $FontSize300;
  line-height: $FontSize600;
  padding: 12px 15px;
  font-family: $MonospaceFontFamily;
  display: block;
  border-radius: 4px;
  background-color: $Slate700;
  box-shadow: 1px 1px 4px 0 transparentize($BlackColor, 0.75);
}
