@import "../../Common/common";

.PublicContractQuickActions {
  margin-bottom: $Spacing7;
  display: flex;
}

.PublicContractQuickActions__Action {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-right: $Spacing5;
    margin-bottom: 0;
  }
}

.PublicContractQuickActions__Action__Icon {
  background-color: $Primary500;
  border-radius: 4px;
  margin-right: $Spacing2;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
