@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";

.Page {
  padding: 48px 80px;
  overflow-y: auto;
  flex: 1 1 0;

  &.NoPadding {
    padding: 0;
  }

  .PageHeading {
    display: flex;
    align-items: center;
    margin-bottom: 48px;

    h1 {
      font-size: $FontSize700;
      font-weight: 700;
    }

    .RightContent {
      margin-left: auto;
    }
  }

  @media (max-width: 760px) {
    padding: 24px 40px;

    .PageHeading {
      margin-bottom: 24px;

      h1 {
        font-size: $FontSize600;
      }
    }
  }
}
