@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";
@import "../../Common/Styles/global";

.Table {

}

.Table__Head {
  display: flex;
  align-items: center;
  margin: 0 $Spacing2;
  border-bottom: 1px solid $Slate700;
}

.Table__Body {
  padding: $Spacing3 $Spacing2;
  position: relative;
}

.Table__Body_Loading {
  z-index: 500;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: $Spacing3;
  bottom: $Spacing3;
  left: $Spacing2;
  right: $Spacing2;
  border-radius: 4px;
  background-color: transparentize($BlackColor, 0.8);
}

.Table__Body_Loading_Loader {
  background-color: transparentize($Slate100, 0.5);
  padding: $Spacing4;
  transform: scale(1.2);
  border-radius: $Spacing1;
}

.Table__Row {
  border-radius: 5px;
  display: flex;
  align-items: center;
  transition: 0.1s;

  &:hover {
    background-color: transparentize($Slate400, 0.5);
  }
}

.Table__Row--Even {
  background-color: $Slate400;
}

.Table__Row--Clickable {
  cursor: pointer;
}

.Table__Group {
  margin-bottom: $Spacing1;
}

.Table__Group__Heading {
  background-color: $Slate500;
  border-radius: 4px;
  margin-bottom: $Spacing1;
}

.Table__Column {
  flex: 1 1 0;
  padding: $Spacing2;
}

.Table__Column--Head {
  padding: $Spacing4 $Spacing2;
  font-size: $FontSize400;
  font-weight: 600;
}

.Table__Column--Body {
}

.Table__Controls {
  padding: $Spacing2 $Spacing7 $Spacing6;
  display: flex;
}

.Table__Controls__PerPage {
  display: flex;
  align-items: center;
}

.Table__Controls__PerPage__Label, .Table__Controls__Pagination__Label {
  margin-right: $Spacing4;
  opacity: 0.75;
}

.Table__Controls__PerPage__Option {
  cursor: pointer;
  margin-right: $Spacing1;
  transition: 0.1s;
  border: 1px solid transparent;
  padding: 4px 8px;
  border-radius: 3px;

  &:hover {
    border: 1px solid transparentize($Primary500, 0.5);
    background-color: transparentize($Primary500, 0.85);
  }
}

.Table__Controls__PerPage__Option--Active {
  border: 1px solid $Primary500;
  background-color: transparentize($Primary500, 0.25);
}

.Table__Controls__Pagination {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.Table__Controls__Pagination__Control {
  padding: 4px 8px;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid transparentize($Primary500, 0.5);
  background-color: transparentize($Primary500, 0.85);
  transition: 0.1s;
  margin-right: $Spacing1;

  &:hover {
    border: 1px solid $Primary500;
    background-color: transparentize($Primary500, 0.25);
  }

  &:last-child {
    margin-right: 0;
  }
}

.Table__Controls__Pagination__Page {
  padding: 4px 8px;
  font-weight: 600;
  margin-right: $Spacing1;
}

.Table__Controls__Pagination__Control--Disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
