@import "../../Common/common";

.PublicNetworksSearch {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.PublicNetworksSearch__InputWrapper {
  margin-bottom: $Spacing4;
  width: 100%;
  position: relative;
}

.PublicNetworksSearch__ResultsWrapper {
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.PublicNetworksSearch__EmptyState {
  text-align: center;
  max-width: 500px;
}

.PublicNetworksSearch__EmptyState__Heading {
  font-size: $FontSize500;
  font-weight: 600;
  margin-bottom: $Spacing2;
}

.PublicNetworksSearch__EmptyState__Description {
  font-weight: 100;
  letter-spacing: 1px;
  margin: 0;
}

.PublicSearchInput {
  .Select__control {
    border-radius: 8px;
    background-color: $Slate600;
    border-color: $Slate300;
    box-shadow: 0 0 16px -1px transparentize($Primary600, 0.5);
    flex-direction: row-reverse;
    transition: background-color 0.15s ease-in, border-color 0.15s ease-in;

    &:hover, &--is-focused {
      background-color: $Slate500;
      border-color: $Primary500;
      box-shadow: 0 0 20px -2px transparentize($Primary600, 0.4);
    }

    &--menu-is-open {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .Select__menu {
    margin-top: -1px;
    background-color: $Slate500;
    border: 1px solid $Primary500;
    border-top: none;
    border-radius:  0 0 8px 8px;
    //box-shadow: 0 0 20px -2px transparentize($Primary600, 0.4);
  }

  .Select__value-container {
    padding: $Spacing2 $Spacing6 $Spacing2 0;
    font-size: $FontSize400;
  }

  .Select__indicator {
    padding: $Spacing1 $Spacing5;
  }

  .Select__loading-indicator {
    & + .Select__dropdown-indicator {
      display: none;
    }
  }

  .Select__input {
    width: 100%;
    font-weight: 100;
  }
}

.PublicNetworksSearch__SupportedNetworks {
  margin-left: auto;
  text-align: right;
  font-size: $FontSize200;
  margin-top: $Spacing2;
}

.SearchBarDropdownIndicator__Icon {
  font-size: $FontSize600;
  padding: 1px;
  color: $Primary700;
}

.SearchResultsNoOptionsMessage__Wrapper {
  padding: $Spacing4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.SearchResultsNoOptionsMessage__Actions {
  display: flex;
}

.SearchResultsNoOptionsMessage__ActionLink {
  border: 1px solid $Slate100;
  border-radius: 8px;
  background-color: $Slate300;
  padding: $Spacing3 $Spacing6;
  display: flex;
  color: $WhiteColor;
  transition: 0.15s;
  box-shadow: 1px 1px 4px 0 transparentize($BlackColor, 0.75);

  &:not(:last-child) {
    margin-right: $Spacing2;
  }

  &:hover {
    background-color: $Slate100;
    color: $WhiteColor;
    box-shadow: 2px 2px 6px 0 transparentize($BlackColor, 0.75);
  }
}

.SearchResultsNoOptionsMessage__Title {
  margin-bottom: $Spacing2;
  font-weight: 600;
  font-size: $FontSize400;
}

.SearchResultsNoOptionsMessage__Description {
  max-width: 660px;
  line-height: 22px;
  letter-spacing: 1px;
}

.SearchResultsNoOptionsMessage__Actions {
  margin-top: $Spacing4;
}

.SearchResultsNoOptionsMessage__ActionLink__Icon {
  font-size: $FontSize500;
  margin-right: $Spacing4;
}
