@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";
@import "../../Common/Styles/global";

$TransactionStatusDotSize: 10px;

.TransactionStatusTag {
  display: inline-flex;
  align-items: center;

  .StatusDot {
    width: $TransactionStatusDotSize;
    height: $TransactionStatusDotSize;
    border-radius: $TransactionStatusDotSize / 2;
    margin-right: $Spacing1;
  }

  &.Success .StatusDot {
    background-color: $Success500;
  }

  &.Failed .StatusDot {
    background-color: $Danger500;
  }
}
