@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";

.EventListHeader {
  padding: 12px 10px;
  border: 1px solid $BorderColor;
  border-bottom: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  .ColumnName {
    font-weight: 600;
    font-size: $FontSize200;
    opacity: 0.9;
  }
}

.EventListWrapper {
  border: 1px solid $BorderColor;

  .EventListItem {
    color: $WhiteColor;
    text-decoration: none;
    background: transparentize($WhiteColor, 0.97);
    box-shadow: 0 0 0 0 $SecondaryColor600 inset;
    padding: 10px;
    transition: 0.1s;
    cursor: pointer;

    &:not(:last-child) {
      border-bottom: 1px solid $BorderColor;
    }

    &:nth-child(2n) {
      background: transparentize($WhiteColor, 0.98);
    }

    .GeneralColumn {
      .Message {
        font-size: $FontSize200;
        font-weight: 600;
        opacity: 0.9;
        margin-bottom: 2px;
      }

      .Description {
        font-size: $FontSize100;
        opacity: 0.75;
      }
    }

    .ContractColumn {
      .ContractName {
        font-size: $FontSize100;
        border: 1px solid $BorderColor;
        border-radius: 2px;
        padding: 2px 6px;
      }
    }

    .TimeColumn {
      opacity: 0.8;
    }

    .BlockColumn, .TransactionColumn {
      font-family: $MonospaceFontFamily;
      font-size: $FontSize100;

      a:hover {
        text-decoration: underline;
      }
    }

    &:hover {
      background: transparentize($BlackColor, 0.8);
      box-shadow: 4px 0 0 0 $SecondaryColor600 inset;
    }
  }
}

.EventListHeader, .EventListItem {
  display: flex;
  align-items: center;

  .ItemColumn {
    padding: 0 15px;
  }

  .GeneralColumn {
    flex: 1 1 0;
  }

  .ContractColumn {
    flex: 0 0 150px;
  }

  .NetworkColumn {
    flex: 0 0 120px;
  }

  .TimeColumn {
    flex: 0 0 120px;
  }

  .TransactionColumn {
    flex: 0 0 165px;
  }

  .BlockColumn {
    flex: 0 0 85px;
  }
}
