@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";

.EventListWrapper {

  .EventListItem {
    display: flex;
    align-items: center;
    color: $WhiteColor;
    text-decoration: none;
    margin-bottom: 10px;
    border: 1px solid $BorderColor;
    background: transparentize($BlackColor, 0.8);
    box-shadow: 0 0 0 0 $SecondaryColor600 inset;
    border-radius: 3px;
    padding: 12px 10px;
    transition: 0.2s;

    .ItemColumn {
      padding: 0 15px;
    }

    .GeneralColumn {
      flex: 1 1 0;

      .Message {

      }

      .Description {
        margin-top: 5px;
        font-size: $FontSize100;
        opacity: 0.75;
      }
    }

    .InfoLabel {
      margin-bottom: 5px;
    }

    .SmallInfo {
      font-size: $FontSize200;
    }

    &:hover {
      background: transparentize($BlackColor, 0.7);
      box-shadow: 4px 0 0 0 $SecondaryColor600 inset;
    }
  }
}
