@import "../../Common/common";

#AppSidebar {
  padding: $Spacing6 0;
}

.AppSidebar__NavGroup {
  padding: $Spacing4 0;

  &--Context {
    background-color: $Slate400;

    .AppSidebar__NavGroup__Link__Icon {
      color: $WhiteColor;
    }

    .AppSidebar__NavGroup__Link--Active {
      color: $WhiteColor;
    }
  }
}

.AppSidebar__NavGroup__Heading {
  padding: 0 $Spacing3;
  margin-bottom: $Spacing2;
  font-size: $FontSize200;
  text-transform: uppercase;
}

.AppSidebar__NavGroup__Links {}

.AppSidebar__NavGroup__Link {
  color: $WhiteColor;
  display: flex;
  align-items: center;
  height: 40px;
  font-size: $FontSize400;
  padding: 0 $Spacing3;
}

.AppSidebar__NavGroup__Link--Active {
  background-color: $Primary500;

  .AppSidebar__NavGroup__Link__Icon {
    color: $WhiteColor;
  }

  .AppSidebar__NavGroup__Link__Label {
    font-weight: 600;
  }
}

.AppSidebar__NavGroup__Link__Icon {
  color: $Primary500;
}

.AppSidebar__NavGroup__Link__Label {
  margin-left: $Spacing3;
  color: $WhiteColor;
}

.AppSidebar__NavGroup__SubLink {
  color: $WhiteColor;
  display: block;
  padding: $Spacing1 $Spacing2 $Spacing1 ($Spacing8 + $Spacing4);

  &:focus, &:hover {
    color: $WhiteColor;
    background-color: transparentize($BlackColor, 0.8);
  }

  &--Active {
    color: $WhiteColor !important;
    background-color: $Primary900 !important;
  }
}
