// Main Color Palette
$Primary500: #0076FF;
$Primary600: #0069E0;
$Primary700: #0056B8;
$Primary800: #00438F;
$Primary900: #00397A;

$Secondary500: #7E50EC;
$Secondary600: #7847EB;
$Secondary700: #6B35E9;
$Secondary800: #5D23E7;
$Secondary900: #5318DC;

$Success500: #23C197;

$Danger500: #F02056;

$Slate100: #1E4E85;
$Slate200: #173B64;
$Slate300: #133153;
$Slate400: #0F2743;
$Slate500: #0B1C30;
$Slate700: #081421;
$Slate800: #040A11;

// Typography
$LinkColor: #71AEFE;
$DefaultTextColor: #fff;

// Gradients
$GradientBluePurple: linear-gradient(to right top, #0076ff, #3b6efc, #5665f8, #6c5bf3, #7e50ec);
$GradientRedPurple: linear-gradient(to left top, #7e50ec, #bc31ca, #de00a3, #ee007b, #f02056);

// Deprecated Colors
$YellowColor600: #ffb81f;
$WhiteColor: #ffffff;
$BlackColor: #000000;
$BorderColor: transparentize($WhiteColor, 0.85);
