// Main Color Palette
$Primary100: #ADD3FF;
$Primary200: #85BEFF;
$Primary300: #5CA8FF;
$Primary400: #3392FF;
$Primary500: #0076FF;
$Primary600: #0069E0;
$Primary700: #0056B8;
$Primary800: #00438F;
$Primary900: #00397A;

$Secondary500: #7E50EC;
$Secondary600: #7847EB;
$Secondary700: #6B35E9;
$Secondary800: #5D23E7;
$Secondary900: #5318DC;

$Success500: #23C197;

$Danger500: #F02056;

$Slate100: #1E4E85;
$Slate200: #173B64;
$Slate300: #133153;
$Slate400: #0F2743;
$Slate500: #0B1C30;
$Slate600: #091626;
$Slate700: #081422;
$Slate800: #060e18;
$Slate900: #040b13;

// Typography
$LinkColor: #71AEFE;
$DefaultTextColor: #fff;

// Gradients
$GradientBluePurple: linear-gradient(to right top, #0076ff, #3b6efc, #5665f8, #6c5bf3, #7e50ec);
$GradientRedPurple: linear-gradient(to left top, #7e50ec, #bc31ca, #de00a3, #ee007b, #f02056);
$GradientPurpleRed: linear-gradient(to right top, #7e50ec, #7e50ec, #bc31ca, #de00a3, #ee007b, #f02056);
$GradientBlueGreen: linear-gradient(to right, #0076FF, #0096FF, #00AAE8, #00B8BE, #23C197);

// Deprecated Colors
$YellowColor600: #ffb81f;
$WhiteColor: #ffffff;
$BlackColor: #000000;
$BorderColor: transparentize($WhiteColor, 0.85);
