$MonospaceFontFamily: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
$SansSerifFontFamily: 'Open Sans', sans-serif;

// Tiny text - 10px
$FontSize100: 0.625rem;
// Small text - 12px
$FontSize200: 0.75rem;
// Default text - 14px
$FontSize300: 0.875rem;
// Default text - 16px
$FontSize400: 1rem;
// Default text - 18px
$FontSize500: 1.125rem;
//  - 22px
$FontSize600: 1.375rem;
// Page heading - 32px
$FontSize700: 2rem;
