@import "../common";

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#AppContent {
  flex: 1 1 0;
  display: flex;
  overflow: hidden;
  position: relative;

  @media (max-width: 760px) {
    flex-direction: column;
  }
}

.MutedText {
  color: transparentize($WhiteColor, 0.35);
}

.LinkText {
  color: $LinkColor;
}

.SuccessText {
  color: $Success500;
}

.DangerText {
  color: $Danger500;
}

.WarningText {
  color: $YellowColor600;
}

.MonospaceFont {
  font-family: $MonospaceFontFamily;
}

.CursorPointer {
  cursor: pointer;
}

.TextAlignRight {
  text-align: right;
}

.TextAlignCenter {
  text-align: center;
}

.DisplayFlex {
  display: flex;
}

.FlexDirectionColumn {
  flex-direction: column;
}

.Flex1 {
  flex: 1 1 0;
}

.FlexAuto {
  flex: 0 0 auto;
}

.FlexWrap {
  flex-wrap: wrap;
}

.OverflowHidden {
  overflow: hidden;
}

.OverflowYScroll {
  overflow-y: auto;
}

.DisplayInlineFlex {
  display: inline-flex;
}

.AlignItemsCenter {
  align-items: center;
}

.AlignItemsStart {
  align-items: flex-start;
}

.LightText {
  font-weight: 100;
}

.SemiBoldText {
  font-weight: 600;
}

.JustifyContentEnd {
  justify-content: flex-end;
}

.JustifyContentCenter {
  justify-content: center;
}

.JustifyContentSpaceBetween {
  justify-content: space-between;
}

.MarginCentered {
  margin-left: auto;
  margin-right: auto;
}

.MarginBottom1 {
  margin-bottom: 0.5rem;
}

.MarginBottom2 {
  margin-bottom: 1rem;
}

.MarginBottom3 {
  margin-bottom: 1.5rem;
}

.MarginBottom4 {
  margin-bottom: 2rem;
}

.MarginTop1 {
  margin-top: 0.5rem;
}

.MarginTop2 {
  margin-top: 1rem;
}

.MarginTop3 {
  margin-top: 1.5rem;
}

.MarginTop4 {
  margin-top: 2rem;
}

.MarginLeftAuto {
  margin-left: auto;
}

.MarginRightAuto {
  margin-right: auto;
}

.MarginLeft1 {
  margin-left: 0.5rem;
}

.MarginLeft2 {
  margin-left: 1rem;
}

.MarginLeft3 {
  margin-left: 1.5rem;
}

.MarginLeft4 {
  margin-left: 2rem;
}

.MarginRight1 {
  margin-right: 0.5rem !important;
}

.MarginRight2 {
  margin-right: 1rem !important;
}

.MarginRight3 {
  margin-right: 1.5rem !important;
}

.MarginRight4 {
  margin-right: 2rem !important;
}

.PaddingLeft1 {
  padding-left: 0.5rem;
}

.PaddingLeft2 {
  padding-left: 1rem;
}

.PaddingLeft3 {
  padding-left: 1.5rem;
}

.PaddingLeft4 {
  padding-left: 2rem;
}

.Padding1 {
  padding: 0.5rem !important;
}

.Padding2 {
  padding: 1rem;
}

.Padding3 {
  padding: 1.5rem;
}

.Padding4 {
  padding: 2rem;
}

.BorderRadius1 {
  border-radius: 3px;
}

.BorderRadius2 {
  border-radius: 4px;
}

.BorderRadius3 {
  border-radius: 6px;
}

.BorderRadius4 {
  border-radius: 8px;
}



.FontSize2 {
  font-size: $FontSize200;
}

.FontSize3 {
  font-size: $FontSize300;
}

.FontSize4 {
  font-size: $FontSize400;
}

@media (max-width: 760px) {
  .HideMobile {
    display: none !important;
  }
}

.DisplayMobile {
  display: none !important;

  @media (max-width: 760px) {
    display: inherit !important;
  }
}

// @TODO This so doesn't belong here :(
.ContractPickerList__Item__Blockie {
  border-radius: 4px;
  box-shadow: 1px 1px 3px 0 transparentize($BlackColor, 0.85);
  margin-right: $Spacing2;
}

.MaxWidth480 {
  max-width: 480px;
}

@import "animations";
