@import "./colors.scss";
@import "./typography";

body {
  margin: 0;
  padding: 0;
  background-image: radial-gradient(
                  circle at top right,
                  #171e31,
                  #121826
  );
}

:root {
  font-family: $SansSerifFontFamily;
  font-size: 16px;
  color: $DefaultTextColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-family: $MonospaceFontFamily;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: #73C2FB;

  &:hover, &:focus {
    outline: none;
    text-decoration: underline;
    color: #69a5db;
  }
}

* {
  &:focus, &:active {
    outline: none;
  }
}
