@import "../../Common/common";

.ContractRevisions {
  color: $WhiteColor;
}

.ContractRevisions__Revision {
}

.ContractRevisions__RevisionLink {
  color: $WhiteColor;
  margin-bottom: $Spacing4;
  display: block;

  &:hover, &:focus, &:active {
    color: $WhiteColor;
  }
}

