@import "../../Common/common";

$StackLinesCodeWidth: 70px;
$StackContainerVerticalPadding: 25px;
$StackLineHeight: 1.375rem;

.CodeWrapper {
  border-radius: 5px;
  background-color: $Slate700;
  padding: $Spacing1;

  .CodeContent {
    overflow: hidden;
    position: relative;
    font-family: $MonospaceFontFamily;
    font-size: $FontSize300;
  }

  .StackLines {
    width: $StackLinesCodeWidth;
    border-right: 1px solid transparentize($Primary500, 0.5);
  }

  .StackLine {
    line-height: $StackLineHeight;
    text-align: right;
    padding: 0 15px;
    color: transparentize($WhiteColor, 0.25);

    &.active {
      border-right: 2px solid $Primary500;
      background-color: transparentize($Primary500, 0.75);
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      font-weight: bold;
      margin-right: -1px;
      padding-right: 14px;
      color: #fff;

      &:before {
        content: "";
        height: $StackLineHeight;
        position: absolute;
        width: calc(100% - #{$StackLinesCodeWidth});
        left: $StackLinesCodeWidth;
        background-color: transparentize($Primary500, 0.75);
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
  }

  .StackCode {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 80px;
    width: calc(100% - #{$StackLinesCodeWidth});
    padding: 0 15px;
    line-height: $StackLineHeight;
    margin: 0;
    font-family: $MonospaceFontFamily;

    &::selection, & *::selection {
      background-color: transparentize($Primary500, 0.6);
    }
  }

  &.FullPreview {
    .StackLines {
      padding: $StackContainerVerticalPadding 0;
    }
    .StackCode {
      padding: $StackContainerVerticalPadding 15px;
    }
  }

  .ExpandingWrapper {
    padding: 4px $Spacing2;
    background-color: $Slate500;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.15s;
    opacity: 0.75;
    display: flex;
    justify-content: center;
    user-select: none;

    &:first-child {
      margin-bottom: $Spacing1;
    }

    &:last-child {
      margin-top: $Spacing1;
    }

    &:hover {
      background-color: $Slate400;
    }
  }
}
