@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";
@import "../../Common/Styles/global";

$StackLinesCodeWidth: 70px;
$StackContainerVerticalPadding: 25px;

.CodeWrapper {
  border-radius: 5px;
  background-color: $Slate700;
  padding: $Spacing1;

  .CodeContent {
    overflow: hidden;
    position: relative;
    font-family: $MonospaceFontFamily;
    font-size: $FontSize300;
  }

  .StackLines {
    width: $StackLinesCodeWidth;
    border-right: 1px solid transparentize($Primary500, 0.5);
  }

  .StackLine {
    line-height: 21px;
    font-size: $FontSize200;
    text-align: right;
    padding: 0 15px;
    color: transparentize($WhiteColor, 0.25);

    &.active {
      border-right: 2px solid $Primary500;
      background-color: transparentize($Primary500, 0.75);
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      font-weight: bold;
      margin-right: -1px;
      padding-right: 14px;
      color: #fff;

      &:before {
        content: "";
        height: 21px;
        position: absolute;
        width: calc(100% - #{$StackLinesCodeWidth});
        left: $StackLinesCodeWidth;
        background-color: transparentize($Primary500, 0.75);
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
  }

  .StackCode {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 80px;
    width: calc(100% - #{$StackLinesCodeWidth});
    padding: 0 15px;
    line-height: 21px;
    font-size: $FontSize200;
    margin: 0;
    font-family: $MonospaceFontFamily;

    &::selection, & *::selection {
      background-color: transparentize($Primary500, 0.6);
    }
  }

  &.FullPreview {
    .StackLines {
      padding: $StackContainerVerticalPadding 0;
    }
    .StackCode {
      padding: $StackContainerVerticalPadding 15px;
    }
  }
}
