@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";

.CodeWrapper {
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;

  .StackLines {
    width: 80px;
  }

  .StackCode {
    line-height: 21px;
    font-size: $FontSize200;
    margin: 0;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  }

  .StackLine {
    line-height: 21px;
    font-size: $FontSize200;
    text-align: right;
    padding: 0 15px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.75);

    &.active {
      border-right: 2px solid #df0074;
      background-color: rgba(223, 0, 116, 0.2);
      font-weight: bold;
      color: #fff;

      &:before {
        content: "";
        height: 21px;
        position: absolute;
        width: calc(100% - 80px);
        left: 80px;
        background-color: rgba(223, 0, 116, 0.2);
      }
    }
  }

  .StackCode {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 80px;
    width: calc(100% - 100px);
    padding: 0 15px;

    &::selection, & *::selection {
      background-color: rgba(223, 0, 116, 0.5);
    }
  }
}
