@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";
@import "../../Common/Styles/global";

.Tooltip {

}

.Tooltip__Content {
  margin: 6px;
  background-color: transparentize($Slate700, 0.1);
  box-shadow: 1px 1px 3px 0 rgba($BlackColor, 0.75);
  padding: 4px $Spacing2;
  border: 1px solid $Slate800;
  border-radius: 4px;
}
