@import "../../Common/common";

.CopyableText {
  cursor: pointer;
  align-items: center;

  &:hover {
    .CopyableText_Icon {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &:active {
    .CopyableText_Icon {
      opacity: 0.75;
    }
  }
}

.CopyableText_Icon {
  width: 22px;
  padding: 2px 4px;
  height: 22px;
  background-color: transparentize($Primary500, 0.5);
  border: 1px solid transparentize($Primary500, 0.25);
  border-radius: 11px;
  cursor: pointer;
  font-size: $FontSize200;
  opacity: 0;
  transition: 0.2s $easeOutCirc;
  transform: translateY(10px);
  display: flex;
  align-items: center;

  & + .CopyableText_Value {
    margin-left: $Spacing1;
  }
}

.CopyableText_Value {
  color: $LinkColor;

  & + .CopyableText_Icon {
    margin-left: $Spacing1;
  }
}
