@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";
@import "../../Common/Styles/global";
@import "../../Common/Styles/mixins";

.ProjectNavigation {
  .NavigationItem {
    color: $WhiteColor;
    display: block;
    transition: 0.2s;
    padding: $Spacing3 $Spacing6;
    font-weight: 100;
    font-size: $FontSize400;
    position: relative;

    &:before {
      content: "";
      @include Gradient('blue-purple');
      position: absolute;
      width: 6px;
      top: 4px;
      bottom: 4px;
      left: -6px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      transition: 0.2s;
    }

    &:hover {
      background-color: transparentize($Slate500, 0.5);

      &:before {
        left: -4px;
      }
    }

    &.active {
      font-weight: 600;
      background-color: $Slate500;

      &:before {
        left: 0;
      }
    }
  }
}
