@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";

.PaginationControls {
  display: flex;

  .PaginationPreviousControl {
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .PaginationNextControl {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .CurrentPagination {
    background-color: transparentize($BlackColor, 0.9);
    padding: 0 12px;
    border-top: 1px solid transparentize($PrimaryColor600, 0.3);
    border-bottom: 1px solid transparentize($PrimaryColor600, 0.3);
    font-weight: 500;
    display: flex;
    align-items: center;
  }
}
