@import "../../Common/common";

.ProjectWalletsList {
  display: flex;
  flex-wrap: wrap;
}

.ProjectWalletsList__Item {
  flex: 0 0 400px;
  width: 400px;
  margin-right: $Spacing6;
  margin-bottom: $Spacing6;
}

.ProjectWalletsList__Item__Card {}
