@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";

.TransactionsListItem {

  .MainInfoWrapper {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $BorderColor;
    padding: 10px 15px;
  }

  .ExpandedInfoWrapper {
    padding: 20px;
    background-color: transparentize($BlackColor, 0.75);
    border-bottom: 1px solid $BorderColor;
    user-select: none;
  }

  .TransactionInfoWrapper, .TransactionInfoPill {
    background-color: transparentize($WhiteColor, 0.94);
    border: 1px solid $BorderColor;
    border-radius: 4px;
  }

  .TransactionInfoWrapper {
    padding: 10px 15px;
    display: inline-flex;
    align-items: center;
    margin-bottom: 20px;

    .InfoIcon {
      margin: 0 15px;
    }
  }

  .TransactionInfoPill {
    display: inline-block;
    padding: 5px 15px;
    margin-right: 15px;

    .PillLabel {
      text-transform: uppercase;
      font-size: $FontSize100;
      opacity: 0.5;
      margin-bottom: 5px;
    }

    .PillValue {
      font-weight: 600;
    }
  }

  &:last-child {
    .MainInfoWrapper, .ExpandedInfoWrapper {
      border-bottom-width: 0;
    }

    .ExpandedInfoWrapper {
      border-top: 1px solid $BorderColor;
    }
  }
}
