@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";
@import "../../Common/Styles/global";
@import "../../Common/Styles/mixins";

.ContractFiles {
  display: flex;
  background-color: $Slate800;
}

.ContractFiles__FilesList {
  flex: 0 0 300px;
  width: 300px;
  overflow: hidden;
  border-right: 1px solid $Slate300;
  padding: $Spacing6 0;
}

.ContractFiles__FilesList__Item {
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: $Spacing2 $Spacing2;
  transition: 0.15s ease-in;

  .FileName {
    font-family: $MonospaceFontFamily;
    text-overflow: ellipsis;
    margin-left: $Spacing1;
    overflow: hidden;
  }

  .FileIcon {
  }

  &:hover {
    background-color: $Primary900;
  }

  &--Active {
    background-color: $Primary600 !important;
  }
}

.ContractFiles__CodeWrapper {
  flex: 1 1 0;
}
