@import "../../Common/common";

$FeatureFlagToggleButtonSize: 46px;

.FeatureFlagControls {
  position: fixed;
  z-index: 99990;
  left: 30px;
  bottom: 30px;

  .FlagControlsToggle {
    position: relative;
    background-color: $Primary500;
    color: $WhiteColor;
    width: $FeatureFlagToggleButtonSize;
    height: $FeatureFlagToggleButtonSize;
    border-radius: $FeatureFlagToggleButtonSize / 2;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.15s;
    z-index: 99995;
    box-shadow: 2px 2px 5px 0 transparentize($BlackColor, 0.8);
    font-size: $FontSize400;

    &:hover {
      background-color: $Primary600;
    }

    &:active {
      box-shadow: 0 0 0 3px transparentize($Primary500, 0.6);
    }
  }

  .FlagControlsWrapper {
    position: absolute;
    width: $FeatureFlagToggleButtonSize;
    height: $FeatureFlagToggleButtonSize;
    bottom: 0;
    left: 0;
    background-color: $Slate300;
    border-radius: $FeatureFlagToggleButtonSize / 2;
    overflow: hidden;
    padding: 10px;
    z-index: 99991;
    transition: 0.2s;
    opacity: 0;
    box-shadow: 2px 2px 5px 1px transparentize($BlackColor, 0.8);

    &.Open {
      opacity: 1;
      width: 200px;
      height: 340px;
      bottom: -10px;
      left: -10px;
      padding-bottom: 50px;
      border-radius: 6px;
      border-bottom-left-radius: $FeatureFlagToggleButtonSize / 2 + 10px;
    }
  }

  .FlagControlWrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;

    &:hover {
      background-color: transparentize($BlackColor, 0.7);
    }

    .ControlLabel {
      flex: 1 1 0;
    }
    .ControlToggle {
      flex: 0 0 auto;
    }
  }

  @media (max-width: 760px) {
    left: initial;
    right: 20px;
    bottom: 80px;

    .FlagControlsWrapper {
      left: initial;
      right: 0;

      &.Open {
        left: initial;
        right: -10px;
        border-radius: 6px;
        border-bottom-right-radius: $FeatureFlagToggleButtonSize / 2 + 10px;
      }
    }
  }
}
