@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";

.ProjectSetupEmptyState {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .EmptyStateImage {
    opacity: 0.8;
    width: 113px;
    height: 110px;
    margin-bottom: 30px;
  }

  .EmptyStateHeadline {
    font-size: $FontSize600;
    font-weight: 400;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  .EmptyStateDescription {
    max-width: 350px;
    margin-top: 0;
    text-align: center;
    font-weight: 100;
    margin-bottom: 30px;
  }
}
