@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";
@import "../../Common/Styles/global";

.ProjectSetupEmptyState {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: $Spacing8 !important;

  .EmptyStateImage {
    width: 113px;
    height: 110px;
    margin-bottom: $Spacing6;
  }

  .EmptyStateHeadline {
    font-size: $FontSize600;
    font-weight: 600;
    margin-bottom: $Spacing4;
  }

  .EmptyStateDescription {
    max-width: 650px;
    margin-top: 0;
    line-height: 30px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 300;
    font-size: $FontSize500;
    margin-bottom: $Spacing7;
  }

  .EmptyStateButton {
    width: 220px;
  }
}
