@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";

$InactiveDashOffset: 15;

.PasswordStrengthScore {
  width: 100px;
  height: 100px;
  position: relative;

  .ShieldIconWrapper, .CheckmarkIconWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.4s, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .ShieldIcon {
    font-size: 44px;
    color: transparentize($WhiteColor, 0.7);
    transition: all 0.2s;
  }

  .CheckmarkIconWrapper {
    transform: scale(0);
    opacity: 0;
  }

  .CheckmarkIcon {
    font-size: 44px;
    transition: 0.2s;
    color: $SecondaryColor600;
  }

  .StrengthDash {
    transition: 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    stroke-dasharray: 1, 300;
    stroke: transparentize($WhiteColor, 0.7);
    transform-origin: center;

    &.Active {
      stroke-dasharray: 48, 300;
      stroke: transparentize($SecondaryColor600, 0.1);
    }
  }

  .Strength1 {
    transform: rotate(72deg);
  }

  .Strength2.Active {
    transform: rotate(144deg)
  }

  .Strength3.Active {
    transform: rotate(216deg)
  }

  .Strength4.Active {
    transform: rotate(288deg)
  }

  &[data-score="0"] {
    .Strength2 {transform: rotate(#{72 + $InactiveDashOffset}deg);}
    .Strength3 {transform: rotate(#{72 + 2*$InactiveDashOffset}deg);}
    .Strength4 {transform: rotate(#{72 + 3*$InactiveDashOffset}deg);}
  }

  &[data-score="1"] {
    .Strength2 {transform: rotate(144deg);}
    .Strength3 {transform: rotate(#{144 + $InactiveDashOffset}deg);}
    .Strength4 {transform: rotate(#{144 + 2*$InactiveDashOffset}deg);}
    .ShieldIcon {color: transparentize($WhiteColor, 0.5);}
  }

  &[data-score="2"] {
    .Strength3 {transform: rotate(216deg);}
    .Strength4 {transform: rotate(#{216 + $InactiveDashOffset}deg);}
    .ShieldIcon {color: transparentize($WhiteColor, 0.3);}
  }

  &[data-score="3"] {
    .Strength4 {transform: rotate(288deg);}
    .ShieldIcon {color: transparentize($WhiteColor, 0.1);}
  }

  &[data-score="4"] {
    .ShieldIcon {color: $WhiteColor;}
    .ShieldIconWrapper {
      color: $WhiteColor;
      opacity: 0;
      transform: scale(0);
    }

    .CheckmarkIconWrapper {
      opacity: 1;
      transform: scale(1);
    }
  }
}
