@import "../../Common/common";

.CreateAlertRule {

}

.SimpleAlertRuleStep {}

.SimpleAlertRuleStep__Heading {
  display: flex;
  align-items: center;
  margin-bottom: $Spacing4;
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.2s;
  padding: $Spacing2 $Spacing4;
  border-radius: 6px;

  &:hover {
    background-color: $Slate200;
    border: 1px solid $Slate100;
  }
}

.SimpleAlertRuleStep__Body {
  display: flex;
}

.SimpleAlertRuleStep__Body__Divider {
  margin: -1*$Spacing4 $Spacing7 0;
  border-left: 2px solid transparentize($Primary500, 0.25);
}

.SimpleAlertRuleStep__Body__Content {
  display: flex;
  flex-wrap: wrap;
}

.SimpleAlertRuleStep__Heading--Finished {
  background-color: transparentize($Primary500, 0.8);
  border: 1px solid transparentize($Primary500, 0.5);
}

.SimpleAlertRuleStep__StepIcon {
  width: 32px;
  height: 32px;
  background-color: transparentize($Primary500, 0.75);
  border: 1px solid $Primary500;
  border-radius: 20px;
  font-size: $FontSize400;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.75;
}

.SimpleAlertRuleStep__StepIcon--Finished {
  background-color: $Primary500;
  opacity: 1;
}

.SimpleAlertRuleStep__StepInfo {
  margin-left: $Spacing4;
}

.SimpleAlertRuleStep__StepInfo__Heading {
  font-size: $FontSize400;
  margin-bottom: 4px;
  font-weight: 600;
}

.SimpleAlertRuleStep__StepInfo__Description {
  margin: 0;
}

.SimpleAlertRuleAction {
  width: 230px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &:not(:last-child) {
    margin-right: $Spacing5;
  }
}

.SimpleAlertRuleAction__Icon {
  font-size: $FontSize600;
  margin-bottom: $Spacing2;
  opacity: 0.5;
}
.SimpleAlertRuleAction__Label {
  font-size: $FontSize300;
  margin-bottom: 4px;
}
.SimpleAlertRuleAction__Description {
  font-size: $FontSize200;
  margin: 0;
  text-align: center;
}
