@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";

.Button, .ButtonOutlined {
  padding: 10px 15px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  font-size: $FontSize300;
  cursor: pointer;
  transition: 0.2s;
  justify-content: center;
  border: 1px solid $WhiteColor;
  color: $WhiteColor;

  span + .TnIcon {
    margin-left: 7px;
  }

  .TnIcon + span {
    margin-left: 7px;
  }

  &:hover {
    color: $WhiteColor;
  }

  &.Stretch {
    width: 100%;
  }

  &.Small {
    font-size: $FontSize200;
    padding: 7px 10px;
    border-radius: 4px;
  }

  &.ExtraSmall {
    font-size: $FontSize100;
    padding: 5px 8px;
    border-radius: 3px;
  }

  &:Disabled, &.Disabled, &[Disabled] {
    opacity: 0.7;
    cursor: not-allowed;
  }

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.Button {
  &.Primary {
    border-color: $PrimaryColor600;
    background-color: $PrimaryColor600;

    &:hover {
      background-color: darken($PrimaryColor600, 5);
    }

    &:active {
      background-color: darken($PrimaryColor600, 8);
    }
  }

  &.Secondary {
    border-color: $SecondaryColor600;
    background-color: $SecondaryColor600;

    &:hover {
      background-color: darken($SecondaryColor600, 5);
    }

    &:active {
      background-color: darken($SecondaryColor600, 8);
    }
  }

  &.Danger {
    border-color: $RedColor600;
    background-color: $RedColor600;

    &:hover {
      background-color: darken($RedColor600, 5);
    }

    &:active {
      background-color: darken($RedColor600, 8);
    }
  }
}

.ButtonOutlined {
  background-color: transparentize($BlackColor, 0.75);

  &:hover {
    background-color: transparentize($BlackColor, 0.65);
  }

  &:active {
    box-shadow: 0 0 0 3px transparentize($WhiteColor, 0.85);
  }

  &.Primary {
    border-color: transparentize($PrimaryColor600, 0.5);

    &:hover {
      border-color: $PrimaryColor600;
    }

    &:active {
      box-shadow: 0 0 0 3px transparentize($PrimaryColor600, 0.7);
    }
  }

  &.Secondary {
    border-color: transparentize($SecondaryColor600, 0.5);

    &:hover {
      border-color: $SecondaryColor600;
    }

    &:active {
      box-shadow: 0 0 0 3px transparentize($SecondaryColor600, 0.7);
    }
  }

  &.Danger {
    border-color: transparentize($RedColor600, 0.5);

    &:hover {
      border-color: $RedColor600;
    }

    &:active {
      box-shadow: 0 0 0 3px transparentize($RedColor600, 0.7);
    }
  }
}
