@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";

.Button {
  padding: 10px 15px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  font-size: $FontSize300;
  cursor: pointer;
  transition: 0.2s;
  justify-content: center;
  border: 1px solid $WhiteColor;
  color: $WhiteColor;

  span + .TnIcon {
    margin-left: 7px;
  }

  .TnIcon + span {
    margin-left: 7px;
  }

  &:hover {
    color: $WhiteColor;
  }

  &.Stretch {
    width: 100%;
  }

  &.Small {
    font-size: $FontSize200;
    padding: 7px 10px;
    border-radius: 4px;
  }

  &.ExtraSmall {
    font-size: $FontSize100;
    padding: 5px 8px;
    border-radius: 3px;
  }

  &:Disabled, &.Disabled, &[Disabled] {
    opacity: 0.7;
    cursor: not-allowed;
  }

  &.ReadOnly {
    cursor: default;
    pointer-events: none;
  }

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.Button--Regular {
  &.Primary {
    border-color: $Primary500;
    background-color: $Primary500;

    &:hover {
      background-color: $Primary600;
    }

    &:active {
      background-color: $Primary700;
    }
  }

  &.Secondary {
    border-color: $Secondary500;
    background-color: $Secondary500;

    &:hover {
      background-color: $Secondary600;
    }

    &:active {
      background-color: $Secondary700;
    }
  }

  &.Danger {
    border-color: $Danger500;
    background-color: $Danger500;

    &:hover {
      background-color: darken($Danger500, 5);
    }

    &:active {
      background-color: darken($Danger500, 8);
    }
  }
}

.Button--Outlined {
  background-color: transparentize($BlackColor, 0.75);

  &:hover {
    background-color: transparentize($BlackColor, 0.65);
  }

  &:active {
    box-shadow: 0 0 0 3px transparentize($WhiteColor, 0.85);
  }

  &.Primary {
    border-color: $Primary500;
    background-color: transparentize($Primary500, 0.85);

    &:hover, &:focus {
      background-color: transparentize($Primary500, 0.75);
    }

    &:active, &:focus {
      box-shadow: 0 0 0 3px transparentize($Primary500, 0.7);
    }
  }

  &.Secondary {
    border-color: $Secondary500;
    background-color: transparentize($Secondary500, 0.85);

    &:hover, &:focus {
      background-color: transparentize($Secondary500, 0.7);
    }

    &:active, &:focus {
      box-shadow: 0 0 0 3px transparentize($Secondary500, 0.7);
    }
  }

  &.Danger {
    border-color: transparentize($Danger500, 0.5);
    background-color: transparentize($Danger500, 0.85);

    &:hover, &:focus {
      border-color: $Danger500;
      background-color: transparentize($Danger500, 0.7);
    }

    &:active, &:focus {
      box-shadow: 0 0 0 3px transparentize($Danger500, 0.7);
    }
  }

  &.Success {
    border-color: transparentize($Success500, 0.5);
    background-color: transparentize($Success500, 0.85);

    &:hover, &:focus {
      border-color: $Success500;
      background-color: transparentize($Success500, 0.7);
    }

    &:active, &:focus {
      box-shadow: 0 0 0 3px transparentize($Success500, 0.7);
    }
  }
}

.ButtonGroup {
  display: inline-flex;

  .Button {
    margin-right: 0;

    &:not(:first-child) {
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &:not(:last-child) {
    margin-right: 10px;
  }
}
