@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";

$ToggleSwitchButtonSize: 16px;
$ToggleSwitchPadding: 2px;

.Toggle {
  position: relative;
  border: 1px solid $BorderColor;
  background-color: lighten(#171e31, 2);
  padding: $ToggleSwitchPadding;
  height: $ToggleSwitchButtonSize + 2 * $ToggleSwitchPadding + 2;
  border-radius: 12px;
  transition: 0.2s;
  width: 2 * $ToggleSwitchButtonSize + 2 * $ToggleSwitchPadding + 2;

  .ToggleSwitch {
    position: absolute;
    height: $ToggleSwitchButtonSize;
    top: $ToggleSwitchPadding;
    left: $ToggleSwitchPadding;
    border-radius: $ToggleSwitchButtonSize / 2;
    background-color: $BorderColor;
    right: $ToggleSwitchButtonSize + $ToggleSwitchPadding;
    transition: 0.2s, right 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }

  &.Active {
    border-color: $PrimaryColor600;
    background-color: #171e31;

    .ToggleSwitch {
      transition: 0.2s, left 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
      right: $ToggleSwitchPadding;
      left: $ToggleSwitchButtonSize + $ToggleSwitchPadding;
      background-color: $PrimaryColor600;
    }
  }
}
