@import "../../Common/Styles/colors";
@import "../../Common/Styles/global";
@import "../../Common/Styles/typography";

.Navigation {
  .HeaderNavItem {
    color: transparentize($WhiteColor, 0.25);
    padding: 20px $Spacing4;
    display: inline-block;
    transition: 0.15s;
    font-size: $FontSize400;

    .NavIcon {
      margin-right: 5px;
    }

    &:hover, &.active {
      color: $WhiteColor;
      background-color: transparentize($BlackColor, 0.75);
    }

    &.active {
      box-shadow: 0 -3px 0 0 $Secondary500 inset;
    }
  }
}
