@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";

.NetworkTag {
  color: $WhiteColor;
  padding: 4px 8px;
  border-radius: 3px;
  display: inline-block;
  font-size: $FontSize300;
  width: 100px;
  text-align: center;

  &.main {
    background-color: transparentize($Primary500, 0.25);
  }

  &.kovan {
    background-color: transparentize($Secondary500, 0.4);
  }

  &.ropsten {
    background-color: transparentize($Danger500, 0.4);
  }

  &.rinkeby {
    background-color: transparentize($Success500, 0.25);
  }

  &.Small {
    padding: 2px 5px;
    border-radius: 2px;
    font-size: $FontSize200;
    width: 80px;
  }
}
