@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";

.ProjectList {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;

  .ProjectListItem {
    flex: 0 0 250px;
    background-color: transparentize($BlackColor, 0.75);
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px 20px 0;
    border-radius: 3px;
    border: 1px solid $BorderColor;
    cursor: pointer;
    transition: 0.15s;
    display: flex;
    flex-direction: column;
    color: $WhiteColor;

    .ProjectNameWrapper {
      flex: 0 0 auto;
      padding-bottom: 15px;
      color: $WhiteColor;

      .ProjectName {
        font-size: $FontSize300;
        margin-bottom: 2px;
      }
      .ProjectId {
        font-size: $FontSize100;
        opacity: 0.8;
      }
    }

    .ProjectChartWrapper {
      border-top: 1px solid $BorderColor;
      border-bottom: 1px solid $BorderColor;
      padding-top: 10px;
      margin: 0 -6px;
      height: 90px;
    }

    .ProjectNotSetupState {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding-top: 15px;
      opacity: 0.5;

      .TnIcon {
        font-size: $FontSize400;
        margin-bottom: 10px;
      }

      span {
        font-size: $FontSize200;
      }
    }

    .ProjectContractInfo {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 14px 0 16px;
      flex: 1 1 0;
    }

    .LastDeployInfo {
      width: 100%;
      font-size: $FontSize200;
      color: transparentize($WhiteColor, 0.2);

      span {
        color: $WhiteColor;
        font-weight: 600;
        margin-left: 3px;
      }
    }

    &:hover {
      border-color: $SecondaryColor600;
      text-decoration: none;
    }
  }
}
