@import "../../Common/common";

.DashboardProjectsList {
  margin-bottom: 40px;

  .LoadingProjects {
    height: 145px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.DashboardProjectsList__SubHeading {
  font-weight: 400;
  margin-bottom: $Spacing6;
}

.DashboardProjectsList__ListWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $Spacing4;
}

.DashboardProjectListItem {
  flex: 0 0 340px;
  width: 340px;
  margin-right: $Spacing5;
  margin-bottom: $Spacing5;

  @media (max-width: 760px) {
    margin-right: 0;
    flex: 0 0 100%;
  }
}

.DashboardProjectListItem--Create {
  opacity: 0.5;
}

.DashboardProjectListItem__Card {
  display: flex;
  align-items: center;
  color: $WhiteColor;
  padding: $Spacing1;
}

.DashboardProjectListItem__IconWrapper {
  background-color: $Primary500;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.DashboardProjectListItem__IconWrapper--Personal {
  background-image: $GradientBluePurple;
}

.DashboardProjectListItem__IconWrapper--Demo {
  background: $Secondary500;
}

.DashboardProjectListItem__IconWrapper--Shared {
  background-image: $GradientRedPurple;
}

.DashboardProjectListItem__IconWrapper--NotSetup {
  background: $Slate500;
}

.DashboardProjectListItem__IconWrapper--Create {
  background: $Slate100;
}

.DashboardProjectListItem__Icon {
  font-size: $FontSize600;
  opacity: 0.75;
}

.DashboardProjectListItem__Info {
  flex: 1 1 0;
  overflow: hidden;
  padding: 0 $Spacing4;
}

.DashboardProjectListItem__ProjectName, .DashboardProjectListItem__ProjectSlug {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.DashboardProjectListItem__ProjectName {
  font-weight: 600;
  font-size: $FontSize400;
  margin-bottom: 4px;
}

.DashboardProjectListItem__ProjectSlug {
  opacity: 0.8;
}
