@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";

@keyframes LoadingSpinnerAnimation {
  0%   {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

$CircularLoaderSize: 150px;

.CircularLoader {
  .LoadingSpinner {
    display: block;
    position: relative;
    width: $CircularLoaderSize;
    height: $CircularLoaderSize;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: $Secondary500;
    animation: LoadingSpinnerAnimation 2s linear infinite;

    &:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 50%;
      border: 2px solid transparent;
      border-top-color: transparentize($Secondary500, 0.4);
      animation: LoadingSpinnerAnimation 3s linear infinite;
    }

    &:after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-radius: 50%;
      border: 1px solid transparent;
      border-top-color: transparentize($Secondary500, 0.6);
      animation: LoadingSpinnerAnimation 1.5s linear infinite;
    }
  }
}

@keyframes SimpleLoaderRotation {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.6);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

.SimpleLoader {
  position: relative;
}

.SimpleLoader__Circle {
  animation-fill-mode: both;
  border: 2px solid transparentize($Secondary500, 0.25);
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-radius: 100%;
  height: 35px;
  width: 35px;
  animation: SimpleLoaderRotation 1s 0s ease-in-out infinite;

  &:last-child {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 15px;
    height: 15px;
    border-width: 1px;
    animation-duration: 0.5s;
    border-color: $Secondary500 transparent $Secondary500 transparent;
    animation-direction: reverse;
  }
}

.SimpleLoader__Circle--Inverse {
  border-color: transparent transparentize($WhiteColor, 0.5) transparent transparentize($WhiteColor, 0.5);

  &:last-child {
    border-color:  $WhiteColor transparent $WhiteColor transparent;
  }
}


