@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";

#AccountSettingsPage {
  h4 {
    margin-bottom: 10px;
  }

  .ChangePasswordWrapper {
    max-width: 400px;

    hr {
      border: none;
      border-bottom: 1px solid $BorderColor;
      margin-bottom: 20px;
    }
  }
}
