@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";
@import "../../Common/Styles/global";

$TracePreviewSpacing: 0px;

.TracePreview {
  margin: 4px 0;

  .TracePreviewHeading {
    border-bottom: none;
    cursor: pointer;
    transition: 0.1s;
    border-radius: 4px;
    padding: $Spacing1;
    display: flex;
    align-items: center;

    @for $i from 0 through 10 {
      &.Depth#{$i} {
        padding-left: $Spacing1 + $Spacing6 * $i;
      }
    }

    .TracePointIcon {
      color: $Primary500;

      &.NoSource {
        color: transparentize($WhiteColor, 0.5)
      }
    }

    .BoldedText {
      font-weight: 600;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      background-color: transparentize($Slate700, 0.25);
    }
  }

  .TracePreviewCodeWrapper {
    margin: $Spacing3 0;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
