@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";
@import "../../Common/Styles/global";

$TracePreviewSpacing: 0px;

.TracePreview {
  margin: $Spacing3 0;

  .TracePreviewHeading {
    border-bottom: none;
    cursor: pointer;
    transition: 0.1s;

    @for $i from 0 through 10 {
      &.Depth#{$i} {
        padding-left: $Spacing6 * $i;
      }
    }

    .TracePointIcon {
      color: $Primary500;
    }

    .BoldedText {
      font-weight: 600;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      //background-color: darken(#171e31, 3);
    }
  }

  .TracePreviewCodeWrapper {
    margin-top: $Spacing3;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
