@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";
@import "../../Common/Styles/global";

.NoProjectsEmptyState {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: $Spacing8 !important;

  .EmptyStateImage {
    width: 113px;
    height: 110px;
    margin-bottom: $Spacing6;
  }

  .EmptyStateHeadline {
    font-size: $FontSize600;
    font-weight: 600;
    margin-bottom: $Spacing4;
  }

  .EmptyStateDescription {
    max-width: 600px;
    margin-top: 0;
    text-align: center;
    font-weight: 300;
    margin-bottom: $Spacing6;
  }

  .EmptyStateButton {
    min-width: 200px;
  }
}
