@import "../../Common/Styles/colors";
@import "../../Common/Styles/global";
@import "../../Common/Styles/typography";

.Panel {
  background-color: $Slate300;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0 transparentize($BlackColor, 0.75);
  margin-bottom: $Spacing6;

  .PanelContent {
    padding: $Spacing6 $Spacing6;
  }

  .PanelHeader {
    border-bottom: 1px solid $Slate700;
    margin: 0 $Spacing2;
    padding: $Spacing4 $Spacing2;

    h3 {
      font-weight: 400;
      font-size: $FontSize400;
    }
  }

  .PanelDivider {
    border-bottom: 1px solid $Slate700;
    margin: $Spacing4 $Spacing2 * -1;
  }
}
