@import "../../Common/common";

.TransactionFilters {
  display: flex;
  align-items: center;
  margin-bottom: $Spacing6;

  .FilterGroup {
    flex: 0 0 auto;
  }
}

.TransactionFilters__Dialog__FilterRow {
  display: flex;
  align-items: center;
  margin-bottom: $Spacing5;
}

.TransactionFilters__Dialog__FilterRow__Label {
  font-weight: 600;
  flex: 0 0 100px;
  font-size: $FontSize400;
}
