@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";
@import "../../Common/Styles/global";

.TransactionFilters {
  display: flex;
  align-items: center;
  margin-bottom: $Spacing6;
  justify-content: space-between;

  .FilterGroup {
    flex: 0 0 auto;
  }
}
