@import "../../Common/common";

.IntegrationsList {
  display: flex;
}

.IntegrationsList__Option {
  background-color: transparentize($Slate400, 0.75);
  margin-right: $Spacing4;
  border: 1px solid $Slate100;
  border-radius: 5px;
  padding: $Spacing2 $Spacing5;
  cursor: pointer;
  transition: 0.15s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &:hover {
    background-color: $Slate400;
  }
}

.IntegrationsList__Option__Icon {
  margin-bottom: $Spacing4;
  font-size: $FontSize500;
}

.IntegrationsList__Option__Label {
}
