.DialogOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(23, 30, 49, 0.8);
}

@keyframes overlay-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes overlay-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.ReactModal__Overlay--after-open {
  animation: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) overlay-in;
}

.ReactModal__Overlay--before-close {
  animation: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) overlay-out;
}

@keyframes dialog-in {
  0% {
    opacity: 0;
    transform: scale(0.75);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes dialog-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.75);
  }
}

.ReactModal__Content--after-open {
  animation: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) dialog-in;
}

.ReactModal__Content--before-close {
  animation: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) dialog-out;
}

.DialogContent {
  background-color: #121826;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 5px;
  z-index: 1000;
  color: #fff;
  width: 600px;

  .DialogHeader {
    background-color: rgba(0,0,0,0.4);
    padding: 20px 30px;
  }

  .DialogBody {
    padding: 30px;
  }
}
