@import "../../Common/common";

.Select__option.TransactionSelectOption {
  display: flex;
  align-items: center;
}

.Select__option .TransactionSelectOption__Blockie {
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 1px 1px 3px 0 transparentize($BlackColor, 0.85);
}
