@import "../../Common/common";

.Select {
  position: relative;

  .CurrentSelection {
    background: $Slate300;
    border: 1px solid transparentize($Primary500, 0.5);
    position: relative;
    border-radius: 4px;
    transition: 0.15s;
    padding:8px 15px 9px;
    cursor: pointer;

    &:hover {
      background-color: $Slate200;
    }
  }

  .SelectDropdown {
    position: absolute;
    top: calc(100% + 4px);
    opacity: 0;
    pointer-events: none;
    transform: translateY(15px);
    transition: 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
    background: $Slate300;
    border-radius: 4px;
    width: 100%;
    box-shadow: 2px 2px 5px 0 transparentize($BlackColor, 0.85);
    z-index: 99999;
    padding: $Spacing1 0;

    .DropdownOption {
      cursor: pointer;
      transition: 0.15s;
      padding: $Spacing1 $Spacing4;

      &:hover {
        background-color: transparentize($BlackColor, 0.8);
      }

      &.Active {
        background-color: transparentize($Primary500, 0.8);
      }

      &:not(:last-child) {
        margin-bottom: 2px;
      }
    }
  }

  &.OpenDropdown {
    .CurrentSelection {
      background-color: $Slate200;
      border-color: $Primary500;
      box-shadow: 0 0 0 3px transparentize($Primary500, 0.6);
    }

    .SelectDropdown {
      opacity: 1;
      pointer-events: all;
      transform: translateY(0);
    }
  }
}
