@import "../../Common/common";

.AnalyticsDataView {}

.AnalyticsDataView__Content {
  display: flex;
}

.AnalyticsDataView__Graph {
  flex: 1 1 0;
}

.AnalyticsDataView__Graph, .AnalyticsDataView__Items {
  height: 400px;
}

.AnalyticsDataView__Items {
  flex: 0 0 240px;
  width: 240px;
  background-color: $Slate600;
  padding: $Spacing2 $Spacing3;
  overflow-x: auto;
}

.AnalyticsDataView__Item {
  display: flex;
  align-items: center;
  margin-bottom: $Spacing2;

  .Checkbox {
    margin-bottom: 0;
    margin-right: $Spacing1;
  }
}
