@import "../../Common/common";

.AnalyticsDataView {}

.AnalyticsDataView__Graph {
  flex: 1 1 0;
}

.AnalyticsDataView__Items {
  background-color: $Slate600;
  padding: $Spacing4 $Spacing5;
  overflow-x: auto;
  max-height: 300px;
}

.AnalyticsDataView__Item {
  display: flex;
  align-items: center;
  margin-bottom: $Spacing2;

  .Checkbox {
    margin-bottom: 0;
    margin-right: $Spacing1;
  }
}
