@import "../../Common/common";

.AppSearch {
  width: 100%;
}

.AppSearch__Select {
  .Select__control {
    background-color: $Slate400;
    border-color: $Slate600;
  }
}

.Select__option.AppSearchSelectOption {
  display: flex;
  align-items: center;
}

.AppSearchSelectOption__Blockie {
  border-radius: 3px;
}

.AppSearchNoOptionsMessage {
  padding: $Spacing2 0;
}
