@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";

$ExpandCodeButtonSize: 37px;

.EventStackTracePoint {
  border-top: 1px solid rgba(255, 255, 255, 0.1);

  .StackTracePointHeading {
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: transparentize($WhiteColor, 0.96);
    transition: 0.1s;

    .TraceMessage {
      font-size: $FontSize200;
    }

    .PointIcon {
      margin-right: 15px;
      font-size: $FontSize100;
      color: $PrimaryColor600;
    }
  }

  .StackTraceCode {
    position: relative;
    border-top: 1px solid $BorderColor;

    .CodeWrapper {
      border-radius: 0;
      border: none;
    }

    &:hover {
      .SourceLink {
        opacity: 1;
      }
    }
  }

  .SourceLink {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: $FontSize100;
    opacity: 0;
    transition: 0.2s;
    border: 1px solid transparentize($WhiteColor, 0.6);
    border-radius: 3px;
    padding: 5px;
    display: flex;
    align-items: center;

    .LinkIcon {
      margin-right: 5px;
    }
  }

  .ExpandCodeButton {
    cursor: pointer;
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: $ExpandCodeButtonSize;
    height: $ExpandCodeButtonSize;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $FontSize500;
    border: 1px solid transparentize($SecondaryColor600, 0.7);
    background-color: transparentize($BlackColor, 0.7);
    transition: 0.15s;

    &:hover {
      border-color: transparentize($SecondaryColor600, 0.3);
      background-color: transparentize($BlackColor, 0.5);
    }
  }

  &:nth-child(2n) {
    .StackTracePointHeading {
      background-color: transparentize($WhiteColor, 0.98);
    }
  }

  .StackTracePointHeading:hover {
    background-color: transparentize($BlackColor, 0.9);
  }
}
