@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";

$ExpandCodeButtonSize: 37px;

.EventStackTracePoint {
  .StackTraceCode {
    position: relative;

    &:hover {
      .SourceLink {
        opacity: 1;
      }
    }
  }

  .SourceLink {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: $FontSize100;
    opacity: 0;
    transition: 0.2s;
    border: 1px solid transparentize($WhiteColor, 0.6);
    border-radius: 3px;
    padding: 5px;
    display: flex;
    align-items: center;

    .LinkIcon {
      margin-right: 5px;
    }
  }

  .ExpandCodeButton {
    cursor: pointer;
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: $ExpandCodeButtonSize;
    height: $ExpandCodeButtonSize;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $FontSize500;
    border: 1px solid transparentize($SecondaryColor600, 0.7);
    background-color: transparentize($BlackColor, 0.7);
    transition: 0.15s;

    &:hover {
      border-color: transparentize($SecondaryColor600, 0.3);
      background-color: transparentize($BlackColor, 0.5);
    }
  }
}
