@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";

.TransactionsList {
  border: 1px solid $BorderColor;
  border-radius: 5px;
  overflow: hidden;

  .TransactionsListEmptyState {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;

    .EmptyStateIcon {
      font-size: $FontSize600 * 2;
      opacity: 0.75;
      color: $SecondaryColor600;
      margin-bottom: 20px;
    }
    .EmptyStateHeading {
      text-transform: uppercase;
      font-weight: 100;
      letter-spacing: 3px;
      font-size: $FontSize500;
      margin-bottom: 15px;
    }
    .EmptyStateDescription {
      max-width: 400px;
      text-align: center;
      font-weight: 100;
      opacity: 0.75;
      font-size: $FontSize300;
    }
  }

  .TransactionsListHeader {
    border-bottom: 1px solid $BorderColor;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: transparentize($BlackColor, 0.8);
    display: flex;
    align-items: center;
    padding: 12px 15px;

    .ItemColumn

    .ColumnName {
      font-weight: 600;
      font-size: $FontSize200;
      opacity: 0.9;
    }
  }

  .TransactionsListHeader, .TransactionsListItem {
    .ItemColumn {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }

    .StatusColumn {
      flex:  0 0 120px;
    }

    .TxHashColumn {
      flex: 0 0 200px;
    }

    .BlockColumn {
      flex: 0 0 100px;
    }

    .NetworkColumn, .TimestampColumn {
      flex: 0 0 150px;
    }

    .ActionColumn {
      flex: 1 1 0;
    }
  }
}
