@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";
@import "../../Common/Styles/global";

.TransactionContractsColumn__Contract {
  font-family: $MonospaceFontFamily;
  color: $LinkColor;
  display: flex;
  align-items: center;
}

.TransactionContractsColumn__Tooltip {
  padding: $Spacing2 $Spacing3;
}

.TransactionContractsColumn__Tooltip__Contract {
  margin-bottom: $Spacing1;
  display: flex;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }
}
