@import "../../Common/common";

#AppHeader {
  position: relative;
  flex: 0 0 60px;

  .LogoWrapper {
    height: 59px;
    display: flex;
    align-items: center;
    padding: 5px 12px;
    margin-left: 20px;
    margin-right: 20px;
    transition: 0.2s;

    .AppLogo {
      height: 32px;
    }

    .AppSymbol {
      display: none;
      height: 32px;
    }

    &:hover {
      text-decoration: none;
      background-color: transparentize($Slate900, 0.75);
    }
  }

  .NavWrapper {
    display: flex;
  }

  .SearchWrapper {
    flex: 1 1 0;
    max-width: 560px;
    padding: 10px $Spacing4;
  }

  .ExplorerLinkWrapper {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: $Spacing1 $Spacing2;

    .ExplorerLink {
      color: $WhiteColor;
      font-size: $FontSize400;
      opacity: 0.75;

      &:hover {
        opacity: 1;
      }
    }
  }

  .SessionWrapper {
    padding-right: $Spacing5;
  }

  @media (max-width: 760px) {
    .LogoWrapper {
      margin: 0 10px;
      padding: 5px 10px;

      .AppLogo, .AppState {
        display: none;
      }
      .AppSymbol {
        display: block;
      }
    }
  }
}
