@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";

.TransactionInfoSidebar {
  .TxInfoItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    text-align: right;
  }
}
