@import "../../Common/common";

$AnalyticsWidgetSizeUnit: 200px;

.AnalyticsWidget {
  padding: 0 $Spacing2;
  max-width: 100%;
}

.AnalyticsWidget--One {
  flex: 1 0 $AnalyticsWidgetSizeUnit;
  //width: $AnalyticsWidgetSizeUnit;
}

.AnalyticsWidget--Two {
  flex: 1 0 2*$AnalyticsWidgetSizeUnit;
  //width: 2*$AnalyticsWidgetSizeUnit;
}

.AnalyticsWidget--Three {
  flex: 1 0 3*$AnalyticsWidgetSizeUnit;
  //width: 3*$AnalyticsWidgetSizeUnit;
}

.AnalyticsWidget--Four {
  flex: 1 0 4*$AnalyticsWidgetSizeUnit;
  //width: 4*$AnalyticsWidgetSizeUnit;
}

.AnalyticsWidget__Data {
  height: 300px;
  overflow: hidden;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.AnalyticsWidgetTooltip {
  background-color: transparentize($Slate700, 0.25);
  padding: $Spacing2 $Spacing4;
  border: none;
  border-radius: 4px;
}
