@import "../../Common/common";

$AnalyticsWidgetSizeUnit: 200px;

.AnalyticsWidget {
  width: 100%;
}

.AnalyticsWidget__Header {
  //margin-bottom: $Spacing4;
}

.AnalyticsWidget__Header__MainInfo {
  display: flex;
  align-items: center;
  padding: $Spacing2 $Spacing4;
}

.AnalyticsWidget__Header__WidgetName {
  font-size: $FontSize500;
  font-weight: 700;
}

.AnalyticsWidget__Footer {
  padding: $Spacing2 $Spacing4;
}

.AnalyticsWidget__Footer__DataInfo {
  display: flex;
}

.AnalyticsWidget__Footer__DataInfoPill {
  display: flex;
  align-items: center;
  border-radius: 16px;
  padding: $Spacing0 $Spacing1;
  font-size: $FontSize200;
  border: 1px solid $WhiteColor;

  > .TnIcon {
    margin-right: $Spacing1;
    opacity: 0.5;
  }

  &--Breakdown {
    border-color: transparentize($Slate900, 0.25);
    background-color: transparentize($Slate900, 0.65);
  }

  &--Show {
    border-color: transparentize($Primary500, 0.25);
    background-color: transparentize($Primary500, 0.75);
  }

  &:not(:last-child) {
    margin-right: $Spacing1;
  }
}

.AnalyticsWidget__Header__SubInfo {
  background-color: $Slate400;
  border-top: 1px solid $Slate800;
  border-bottom: 1px solid $Slate800;
  padding: $Spacing1 $Spacing4;
  display: flex;
  justify-content: space-between;
}

.AnalyticsWidget__Data {
  height: 300px;
  //overflow: hidden;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.AnalyticsWidget__Data--Loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.AnalyticsWidget__Data--LIST {
  display: flex;
  flex-direction: column;
}

.AnalyticsWidget__Data__ListItems {
  flex: 1 1 0;
  height: 100%;
  overflow-y: scroll;
}

.AnalyticsWidget__Data__ListHeader, .AnalyticsWidget__Data__ListItem {
  display: flex;
  align-items: center;
  padding: 0 ($Spacing4 - $Spacing2);
}

.AnalyticsWidget__Data__ListHeader {
  flex: 0 0 auto;
  background-color: $Slate500;
  border-bottom: 1px solid $Slate800;
  padding-right: $Spacing4;
}

.AnalyticsWidget__Data__ListItem {
  padding-top: $Spacing1;
  padding-bottom: $Spacing1;
  &:nth-child(even) {
    background-color: transparentize($Slate400, 0.25);
  }
}

.AnalyticsWidget__Data__ListColumn {
  padding: $Spacing1 $Spacing2;
}

.AnalyticsWidget__Data__BarValue {}

.AnalyticsWidget__Data__Bar {
  background-color: $Primary500;
  border-radius: 2px;
  padding-left: $Spacing1;
}

.AnalyticsWidget__Data__ListItem:nth-child(1) .AnalyticsWidget__Data__Bar {background-color: $Primary700;}
.AnalyticsWidget__Data__ListItem:nth-child(2) .AnalyticsWidget__Data__Bar {background-color: $Primary600;}
.AnalyticsWidget__Data__ListItem:nth-child(3) .AnalyticsWidget__Data__Bar {background-color: $Primary500;}
.AnalyticsWidget__Data__ListItem:nth-child(4) .AnalyticsWidget__Data__Bar {background-color: $Primary400;}
.AnalyticsWidget__Data__ListItem:nth-child(5) .AnalyticsWidget__Data__Bar {background-color: $Primary300;}
.AnalyticsWidget__Data__ListItem:nth-child(6) .AnalyticsWidget__Data__Bar {background-color: $Primary200;}
.AnalyticsWidget__Data__ListItem:nth-child(7) .AnalyticsWidget__Data__Bar {background-color: $Primary100;}

.AnalyticsWidgetTooltip {
  background-color: transparentize($Slate700, 0.25);
  padding: $Spacing2 $Spacing4;
  border: none;
  border-radius: 4px;
}

.AnalyticsWidgetTooltip__LegendItem {
  display: flex;
  align-items: center;
  margin-bottom: $Spacing0;
}

.AnalyticsWidgetTooltip__Dot {
  width: 10px;
  height: 10px;
  border-radius: 2px;
  background-color: $WhiteColor;
  margin-right: $Spacing1;
}

.AnalyticsWidgetTooltip__LegendItem__Value {
  padding-left: $Spacing2;
  font-weight: 600;
  margin-left: auto;
}
