.RegisterForm {
  padding: 50px;

  .LogoWrapper {
    margin-bottom: 20px;
    text-align: center;

    .AppLogo {
      height: 120px;
    }
  }

  .FormStepsWrapper {
    max-width: 500px;
    margin: 0 auto;
  }

  .NameInputWrapper {
    display: flex;
    margin-bottom: 20px;

    .NameInputColumn {
      flex: 1 1 0;

      &:first-child {
        margin-right: 20px;
      }
    }
  }
}
