@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";

.RegisterForm {
  padding: 50px 10px;

  .LogoWrapper {
    display: block;
    margin-bottom: 20px;
    text-align: center;

    .AppLogo {
      height: 120px;
    }
  }

  .FormStepsWrapper {
    max-width: 500px;
    margin: 0 auto;
  }

  .NameInputWrapper {
    display: flex;
    margin-bottom: 20px;

    .NameInputColumn {
      flex: 1 1 0;

      &:first-child {
        margin-right: 20px;
      }
    }
  }

  .FormActionsWrapper {
    display: flex;
  }

  .OAuthButtonsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .GitHubLoginButton {
      margin-left: 15px;
    }
  }

  .FormSubActions {
    padding: 0 15px;
  }

  .LoginLink {
    opacity: 0.8;

    .LoginLinkIcon {
      margin-right: 5px;
    }
  }
}
