@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";

.InputWrapper {
  background: $Slate300;
  border: 1px solid transparentize($Primary500, 0.5);
  position: relative;
  border-radius: 4px;
  transition: 0.15s;

  .Input {
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 9px 15px 11px;
    color: $WhiteColor;
    font-size: $FontSize300;
    cursor: pointer;
    border-radius: 3px;

    &:-webkit-autofill,
    &:-internal-autofill-previewed,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active  {
      -webkit-box-shadow: 0 0 0 30px $Slate200 inset;
      -webkit-text-fill-color: $WhiteColor;
      background-color: transparentize($Slate100, 0.25) !important;
    }

    &::placeholder {
      color: transparentize($WhiteColor, 0.3);
    }

    &:focus, &:hover, &:active {
      outline: none;
    }
  }

  .InputIcon {
    transform-origin: center;
    position: absolute;
    left: 14px;
    top: 10px;
    transform: scale(0.1);
    opacity: 0;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .InputLabel {
    cursor: text;
    position: absolute;
    left: 15px;
    transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    font-size: $FontSize300;
    top: 8px;
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &:hover {
    background-color: $Slate200;
  }

  &.Active {
    border-color: transparentize($Primary500, 0.25);
  }

  &.Focused {
    background-color: $Slate200;
    box-shadow: 0 0 0 3px transparentize($Primary500, 0.6);
    border-color: $Primary500;
  }

  &.Active, &.Focused {
    .InputIcon {
      color: $Primary500;
      transition-delay: 0.05s;
      transform: scale(1);
      opacity: 1;
    }

    &.WithIcon {
      .InputLabel {
        left: 40px;
      }

      .Input {
        padding-left: 40px;
      }
    }
  }

  &.Disabled {
    border-color: $BorderColor;
    background-color: transparentize($WhiteColor, 0.92);
    color: $BlackColor;

    .Input {
      cursor: no-drop;
    }
  }

  &.ReadOnly {
    border-color: transparentize($Slate100, 0.25);
    pointer-events: none;
    background-color: $Slate200;

    .Input {
      cursor: auto;
    }
  }
}
