@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";

@keyframes SignUpShow {
  0% {
    left: -300px;
  }
  100% {
    left: 0;
  }
}

@keyframes PocIconAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

#LoginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: 720px) {
    justify-content: flex-start;
  }
}

.LoginPageContent {
  display: flex;

  .LoginFormWrapper {
    position: relative;
    display: flex;
    align-items: center;
    padding: 30px 0;
    flex-direction: column;
  }

  .LogoWrapper {
    margin-bottom: 20px;
    text-align: center;

    .AppLogo {
      height: 120px;
    }
  }

  .LoginFormPanel {
    width: 400px;
    z-index: 2;
    position: relative;

    .FormHeading {
      font-weight: 100;
      font-size: $FontSize600 * 1.2;
      margin: 0 0 30px;
      text-align: center;
    }

    .FormDescription {
      margin-bottom: 20px;
    }
  }

  .ThirdPartLoginWrapper {
    display: flex;
    padding-top: 20px;

    .ButtonWrapper {
      flex: 1 0 0;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  .SignUpWrapper {
    position: relative;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: lighten(#171e31, 3);
    box-shadow: 2px 2px 5px 0 transparentize($BlackColor, 0.9);
    width: 300px;
    padding: 30px;
    min-height: 360px;
    margin-top: 115px;
    margin-bottom: 120px;
    left: -300px;
    z-index: 1;
    animation: 0.5s 0.3s SignUpShow forwards cubic-bezier(0.23, 1, 0.32, 1);

    .SignUpHeading {
      font-weight: 400;
    }

    .SignUpText {
      font-weight: 100;
    }
  }

  .DocumentsWrapper {
    text-align: center;
    font-size: $FontSize100;
    margin-top: 10px;

    .DocumentLink {
      color: $WhiteColor;
      opacity: 0.5;
      transition: 0.1s;
      text-decoration: underline;

      &:hover {
        opacity: 1;
      }
    }

    .Separator {
      margin: 0 10px;
      opacity: 0.5;
    }
  }

  .InputActionWrapper {
    text-align: right;
    margin-top: -10px;
    margin-bottom: 15px;
  }

  .PocLinkWrapper {
    margin: 20px 0 30px;
  }

  @media (max-width: 1040px) {
    margin-right: 0;
  }

  @media (max-width: 720px) {
    padding-top: 50px;
    display: block;

    .SignUpWrapper {
      margin: 20px auto;
      border-radius: 6px;
    }

    .LoginFormPanel {
      width: 100%;
    }
  }
}
