@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";

.EventStackTrace {
  margin-top: 30px;
  border: 1px solid $BorderColor;
  border-radius: 5px;
  overflow: hidden;

  .EventStackTraceHeading {
    padding: 10px 20px;
    font-size: $FontSize500;
    background-color: transparentize($BlackColor, 0.8);
  }
}
