@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";

$GoogleBlueColor: #4285f4;

.GoogleLoginButton {
  font-size: $FontSize200;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $GoogleBlueColor;
  color: $WhiteColor;
  border: 1px solid darken($GoogleBlueColor, 4);
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.2s;
  width: 100%;

  &:hover, &:focus, &:active {
    background-color: darken($GoogleBlueColor, 4);
  }

  &:focus, &:active {
    box-shadow: 0 0 0 3px transparentize($GoogleBlueColor, 0.6);
  }

  .GoogleIcon {
    margin-right: 5px;
  }
}
