@import "../../Common/common";

.IntegrationsList__Option {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.IntegrationsList__Option__Icon {
  margin-bottom: $Spacing4;
  font-size: $FontSize600;
}

.ActiveIntegrationItem {
  display: flex;
  align-items: center;
}

.ActiveIntegrationItem__LabelColumn {
  flex: 0 0 250px;
}

.ActiveIntegrationItem__TypeColumn {
  flex: 0 0 100px;
  font-weight: 600;
}

.ActiveIntegrationItem__ValueColumn {
  flex: 1 1 0;
}

.ActiveIntegrationItem__Actions {
  flex: 0 0 40px
}
