@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";

.Sidebar {
  background-color: $Slate700;
  flex: 0 0 240px;

  .SidebarContent {
    background-color: $Slate700;
    height: 100%;
  }

  @media (max-width: 760px) {
    flex: 0 0 60px;
    border-bottom: 1px solid $Slate300;
  }
}
