@import "../../Common/common";

.Card {
  padding: 15px 20px;
  background-color: $Slate300;
  box-shadow: 1px 1px 4px 0 transparentize($BlackColor, 0.75);
  border-radius: 4px;

  &:not(:last-child) {
    margin-bottom: $Spacing5;
  }
}

.CardsWrapper--Horizontal {
  display: flex;
  .Card {
    &:not(:last-child) {
      margin-bottom: initial;
      margin-right: $Spacing5;
    }
  }
}

.Card--Light {
  background-color: $Slate100;
}

.Card--Dark {
  background-color: $Slate500;
}

.Card--Clickable {
  cursor: pointer;
  transition: 200ms;

  &:hover {
    background-color: $Slate400;
  }
}

.Card--Light.Card--Clickable {
  &:hover {
    background-color: $Slate200;
  }
}

.Card--Selectable {
  cursor: pointer;
  transition: 200ms;

  &:hover {
    background-color: $Primary500;
    transform: translateY(-4px);
    box-shadow: 5px 5px 8px 0 transparentize($BlackColor, 0.75);
  }
}

.Card--Selected {
  background-color: $Primary500;
}

.Card--HighlightSecondary {
  &.Card--Selectable {
    &:hover {
      background-color: $Secondary500;
    }
  }

  &.Card--Selected {
    background-color: $Secondary500;
  }
}

.Card--Disabled {
  pointer-events: none;
  opacity: 0.6;
}
