@import "../../Common/Styles/colors";

.Card {
  padding: 15px 20px;
  background-color: $Slate300;
  box-shadow: 1px 1px 4px 0 transparentize($BlackColor, 0.75);
  border-radius: 4px;

  &.Clickable {
    cursor: pointer;
    transition: 200ms;

    &:hover {
      background-color: $Slate400;
    }
  }

  &:not(:last-child) {
    margin-right: 20px;
  }
}
