@import "../../Common/common";

.Card {
  padding: 15px 20px;
  background-color: $Slate300;
  box-shadow: 1px 1px 4px 0 transparentize($BlackColor, 0.75);
  border-radius: 4px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.Card--Light {
  background-color: $Slate100;
}

.Card--Clickable {
  cursor: pointer;
  transition: 200ms;

  &:hover {
    background-color: $Slate400;
  }
}

.Card--Selectable {
  cursor: pointer;
  transition: 200ms;

  &:hover {
    background-color: $Primary500;
    transform: translateY(-4px);
    box-shadow: 5px 5px 8px 0 transparentize($BlackColor, 0.75);
  }
}

.Card--Selected {
  background-color: $Primary500;
}
