@import "../../Common/Styles/colors";
@import "../../Common/Styles/typography";

.ProjectUsageGraph {
  width: 400px;

  .GraphHeading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .LastDayChange {
      font-size: $FontSize300;
      color: $Success500;
      font-weight: 700;
    }
  }

  .GraphsWrapper {
    position: relative;
    height: 160px;
    overflow: hidden;

    .GraphItem {
      position: absolute;
      height: 160px;

      .NetworkName {
        margin-bottom: 10px;
        text-align: center;
      }

      .GraphInfo {
        display: flex;
        align-items: center;

        .InfoWrapper {
          margin-right: 20px;
          font-size: $FontSize100;
          flex: 0 0 175px;

          .InfoItem {
            margin-bottom: 5px;
            display: flex;
            justify-content: space-between;
          }

          hr {
            margin: 5px 0;
            border: none;
            border-bottom: 1px solid $BorderColor;
          }
        }
        .PieChartWrapper {

        }
      }

      &:not(.Active) {
        left: 100%;
      }
    }
  }

  .GraphNav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;

    .NavItem {
      font-size: $FontSize500;
      opacity: 0.75;

      &:first-child {margin-right: 5px;}
      &:last-child {margin-left: 5px;}
    }

    .DotsWrapper {
      display: flex;
      align-items: center;
    }

    .GraphNavDot {
      width: 10px;
      height: 10px;
      border-radius: 5px;
      display: inline-block;
      background-color: transparentize($WhiteColor, 0.5);

      &.active {
        background-color: $Primary500;
      }

      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }
}
