@import "../../Common/common";

.CollaboratorForm__EmailWrapper {
  max-width: 400px;
  margin-bottom: $Spacing7;
}

.CollaboratorForm__PermissionGroups {
  display: flex;
  flex-wrap: wrap;
}

.CollaboratorForm__PermissionGroup {
  flex: 0 0 460px;
  margin-bottom: $Spacing4;
}

.CollaboratorForm__PermissionGroup__Heading {
  margin-bottom: $Spacing4;
  padding-left: $Spacing1;
}

.CollaboratorForm__Permission {
  display: flex;
  align-items: center;
  margin-bottom: $Spacing2;
  padding: $Spacing1;
}

.CollaboratorForm__Permission__Label {
  flex: 0 0 300px;
  font-size: $FontSize400;
}
