@import "../../Common/common";

.PageSegmentSwitcher {
  flex: 0 0 240px;
  width: 240px;
  margin-right: $Spacing6;

  .SwitchOption {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .SwitchOption__Card {
    transition: 0.2s;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;

    .SwitchInfo {
      overflow: hidden;
      flex: 1 1 0;
    }

    .SwitchLabel {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .SwitchDescription {
      margin-top: 4px;
      font-size: $FontSize200;
      opacity: 0.75;
    }

    .SwitchIcon {
      transition: 0.2s;
      opacity: 0.5;
    }

    &:before {
      content: "";
      @include Gradient('blue-purple');
      position: absolute;
      width: 6px;
      top: 8px;
      bottom: 8px;
      left: -6px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      transition: 0.2s;
    }
  }

  .SwitchOption__Card--Active {
    &:before {
      left: 0;
    }

    .SwitchIcon {
      opacity: 1;
    }
  }

  @media (max-width: 760px) {
    flex: 0 0 auto;
    margin-right: 0;
    margin-bottom: $Spacing6;
  }
}
